<h1 matTooltip="gérez les comptes administrateurs" class="max-w-max" matTooltipPosition="right">Administrateurs</h1>
<nav mat-tab-nav-bar ngClass="tabs">
  <a mat-tab-link routerLink="/dashboard/admin/create" [active]="urlContains('/create')" color="primary">
    Créer un admin
  </a>
  <a mat-tab-link routerLink="/dashboard/admin/list" [active]="urlContains('/list')" color="primary">
    Liste des admins
  </a>
</nav>

<div class="margin-y">
  <app-admin-create *ngIf="urlContains('/create')"></app-admin-create>
  <app-admin-list *ngIf="urlContains('/list')"></app-admin-list>
</div>
