<div class="margin-y">
  <h3 class="font-semibold">Menu</h3>
  <section class="max-width-screen-sm grid grid-cols-2 md:grid-cols-3 gap-4">
    <ng-template [ngxPermissionsOnly]="['admin', 'redactor']">
    <mat-card class="action-card mat-elevation-z4" routerLink="/dashboard/publications"
      matTooltip="Evènements, éléments à la une, grand format" matTooltipPosition="above" matTooltipShowDelay="500">
      <mat-card-header>
        <img src="assets/icons/news.svg" alt="news">
      </mat-card-header>
      <mat-card-content>
        <p>Gérer les contenus du site</p>
      </mat-card-content>
    </mat-card>
    </ng-template>

    <ng-template [ngxPermissionsOnly]="['admin', 'redactor', 'rdc_user']">
      <mat-card class="action-card mat-elevation-z4" routerLink="/dashboard/rdc"
        matTooltip="Articles, etc" matTooltipPosition="above" matTooltipShowDelay="500">
        <mat-card-header>
          <img src="assets/icons/news.svg" alt="news">
        </mat-card-header>
        <mat-card-content>
          <p>Gérer les contenus RDC</p>
        </mat-card-content>
      </mat-card>
      </ng-template>

    <ng-template [ngxPermissionsOnly]="['admin', 'redactor']">
    <mat-card class="action-card mat-elevation-z4" routerLink="/dashboard/traffic"
      matTooltip="messages de direct traffic" matTooltipPosition="above" matTooltipShowDelay="500">
      <mat-card-header>
        <img src="assets/icons/traffic.svg" alt="traffic">
      </mat-card-header>
      <mat-card-content>
        <p>Gérer les éléments du traffic</p>
      </mat-card-content>
    </mat-card>
    </ng-template>

    <ng-template [ngxPermissionsOnly]="['admin', 'redactor']">
      <mat-card class="action-card mat-elevation-z4" routerLink="/dashboard/signal"
        matTooltip="messages du signal" matTooltipPosition="above" matTooltipShowDelay="500">
        <mat-card-header>
          <img src="assets/icons/signal.svg" alt="signal">
        </mat-card-header>
        <mat-card-content>
          <p>Gérer les messages du signal</p>
        </mat-card-content>
      </mat-card>
      </ng-template>

    <ng-template [ngxPermissionsOnly]="['admin', 'commercial']">
    <mat-card class="action-card mat-elevation-z4" routerLink="/dashboard/user"
    matTooltip="Utilisateurs du site web" matTooltipPosition="above" matTooltipShowDelay="500">
        <mat-card-header>
          <img src="assets/icons/user.svg" alt="users">
        </mat-card-header>
        <mat-card-content>
          <p>Gérer les comptes utilisateur</p>
        </mat-card-content>
      </mat-card>
      </ng-template>

      <ng-template [ngxPermissionsOnly]="['admin', 'commercial']">
    <mat-card class="action-card mat-elevation-z4" routerLink="/dashboard/pubs">
      <mat-card-header>
        <img src="assets/icons/ads.svg" alt="pubs">
      </mat-card-header>
      <mat-card-content>
        <p>Gérer les espaces publicitaires</p>
      </mat-card-content>
    </mat-card>
    </ng-template>

    <ng-template [ngxPermissionsOnly]="['admin', 'commercial']">
    <mat-card class="action-card mat-elevation-z4" routerLink="/dashboard/tv">
      <mat-card-header>
        <img src="assets/icons/youtube.svg" alt="tv">
      </mat-card-header>
      <mat-card-content>
        <p>Modifier les élément Acturoutes TV</p>
      </mat-card-content>
    </mat-card>
    </ng-template>

    <mat-card class="action-card mat-elevation-z4" routerLink="/dashboard/intranet"
      matTooltip="Discutez avec les autres collaborateurs" matTooltipPosition="above" matTooltipShowDelay="500">
      <mat-card-header>
        <img src="assets/icons/chat.svg" alt="chat">
      </mat-card-header>
      <mat-card-content>
        <p>Accèder à l'intranet</p>
      </mat-card-content>
    </mat-card>

    <ng-template [ngxPermissionsOnly]="['admin']">
    <mat-card class="action-card mat-elevation-z4" routerLink="/dashboard/admin">
      <mat-card-header>
        <img src="assets/icons/crowd.svg" alt="admin">
      </mat-card-header>
      <mat-card-content>
        <p>Gérer les comptes administrateur</p>
      </mat-card-content>
    </mat-card>
    </ng-template>
  </section>
</div>
