<p class="text-gray-800 text-center text-2xl font-bold my-2">
  {{ today | dateTrans}}
</p>

<div class="flex justify-center items-center mb-4">
  <label class="block mr-2">
    <select (change)="changeFilter($event.target.value)" [disabled]="isLoading"
      class="form-select block w-64 md:w-42 text-green-600 bg-white shadow focus:ring-green-800 border-0 rounded-md">
      <option [value]="false" selected>Direct Traffic</option>
      <option [value]="true">Direct Traffic RDC</option>
    </select>
  </label>
</div>

<div class="mx-auto max-w-md my-3">
  <intro-image></intro-image>
</div>

<p *ngIf="isLoading" class="text-green-500 flex justify-center w-full"><i class="gg-spinner-two-alt"></i></p>
<ng-container *ngIf="traffics">
  <div *ngFor="let traffic of traffics" class="animated max-w-screen-sm grid md:grid-cols-3 px-4 mx-auto mb-5"
    animateOnScroll animationName="slide-top">
    <div class="text-left md:col-span-1 mb-2">
      <span class="font-semibold text-gray-700">{{ traffic.createdAt | timeTrans }}</span>
    </div>
    <div class="md:col-span-2">
      <p class="leading-relaxed">{{ traffic.message }}</p>
    </div>
  </div>

  <app-pagination *ngIf="traffics?.length > 0" [activePage]="currentPage" [totalPage]="totalPage"
    (onPageChange)="changePage($event)"></app-pagination>
  <p *ngIf="traffics.length === 0" class="text-2xl text-center text-green-500 mb-24">Aucun message pour l'instant.
  </p>
</ng-container>

<p *ngIf="haveError" class="text-2xl text-center text-red-500">Une erreur s'est produite.</p>

<app-footer></app-footer>