<div class="flex flex-col overflow-hidden">
  <ng-template [ngxPermissionsOnly]="['admin']">
    <div class="px-1">
      <button class="w-full" mat-raised-button color="primary" (click)="openModal()">créer un canal</button>
    </div>
    <hr class="mt-4">
  </ng-template>

  <section class="scroll px-2 mt-4">
    <div *ngFor="let room of roomList" [ngClass]="{'bg-green-200': isSelectedRoom(room)}" class="flex align-center justify-between shadow-md bg-gray-200 rounded pl-2 mb-4 w-full cursor-pointer" (click)="setCanal(room)">
      <div class="flex align-center">
        <p class="text-white">{{ room.name | truncateAfter:16 }}</p>
        <button *ngIf="room.haveUnreadMessage" class="cursor-default rounded-full h-6 w-6 justify-self-end bg-green-500 text-white ml-1">
          i
        </button>
      </div>

      <ng-template [ngxPermissionsOnly]="['admin']">
        <a (click)="openModal(room)">
          <button mat-icon-button>
            <mat-icon>more_vert</mat-icon>
          </button>
        </a>
      </ng-template>
    </div>
    <p *ngIf="roomList && roomList.length === 0" class="no-room">Aucun de canal discussion disponible pour l'instant</p>
  </section>
</div>
