p {
    margin-bottom: 0;
}
.scroll {
    overflow-y: scroll;
    max-height: 60vh;
    &::-webkit-scrollbar {
        width: 12px;
      }
      &>div {
          min-height: 40px;
      }
}

.no-room {
    color: #37b884;
    font-weight: bold;
    margin: .6rem 0rem;
    text-align: center;
}