<form [formGroup]="defaultForm">

    <div class="flex justify-start my-4">
      <mat-form-field class="w-64 mr-4" appearance="outline">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="name" required />
      </mat-form-field>

      <mat-form-field class="w-64 mr-4" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required />
      </mat-form-field>

      <mat-form-field class="w-64 mr-4" appearance="outline">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
            <mat-option value="redactor">Rédacteur (gère les articles)</mat-option>
            <mat-option value="commercial">Commercial (gère les pubs)</mat-option>
            <mat-option value="admin">Administrateur (à tous les pouvoir)</mat-option>
            <mat-option value="intranet_user">Utilisateur (seulement intranet)</mat-option>
            <mat-option value="rdc_user">Acturoutes RDC (seulement RDC)</mat-option>
        </mat-select>
      </mat-form-field>

      <ng-container *ngIf="!currentData">
        <mat-form-field class="w-64" appearance="outline">
          <mat-label>Mot de passe</mat-label>
          <input matInput formControlName="password" required />
        </mat-form-field>
      </ng-container>
    </div>
  
    <div class="flex justify-between">
      <button (click)="sendForm()" [disabled]="!defaultForm.valid || isButtonDisabled" type="button" mat-raised-button color="primary">{{ currentData ? 'mettre à jour': 'créer' }}</button>
      <ng-template [ngxPermissionsOnly]="['admin']">
        <button *ngIf="currentData" [disabled]="isButtonDisabled" type="button" mat-stroked-button color="warn" (click)="onDelete(currentData._id)">Supprimer le compte</button>
      </ng-template>
    </div>
  </form>
  