<div class="mat-elevation-z4">
  <mat-card>
    <mat-card-header class="flex justify-left align-center">
      <mat-card-title *ngIf="title"> {{ title }}</mat-card-title>
      <div *ngIf="selectable">
        <a mat-button color="warn" (click)="onRemove()" [disabled]="!this.selection.selected.length">Supprimer</a>
      </div>
      <mat-form-field [class.d-none]="!searchable" appearance="outline" class="push-right">
        <mat-label>Recherche</mat-label>
        <input matInput #searchInput>
        <mat-icon matSuffix>search</mat-icon>
        <mat-hint>3 charactères minimum</mat-hint>
      </mat-form-field>
    </mat-card-header>
    <mat-card-content class="table-container">
      <!--Loading and Error-->
      <div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        <h2 *ngIf="isRateLimitReached" class="rate-limit-reached">
          Aucune Donnée.
        </h2>
      </div>

      <!--Table-->
      <table [class.d-none]="isLoadingResults || isRateLimitReached" mat-table matSort [dataSource]="dataSource" matSort
        matSortActive="created" matSortDisableClear matSortDirection="desc"  matTableExporter #exporter="matTableExporter" [hiddenColumns]="hiddenColumnsIndexes" [@inOutAnimation]>
        <!-- Checkbox Column -->
        <ng-container *ngIf="selectable" matColumnDef="select_action">
          <th mat-header-cell *matHeaderCellDef style="padding-right: .4rem;">
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" color="primary">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" color="primary">
            </mat-checkbox>
          </td>
        </ng-container>

        <!--Edit Action-->
        <ng-container *ngIf="editable" matColumnDef="edit_action">
          <th mat-header-cell *matHeaderCellDef fxFlex="110px" fxLayoutAlign="center center">
            <b>Editer</b>
          </th>
          <td mat-cell *matCellDef="let row" fxFlex="110px" fxLayoutAlign="center center">
            <a (click)="onEdit(row)">
              <button mat-icon-button>
                <mat-icon>visibility</mat-icon>
              </button>
            </a>
          </td>
        </ng-container>

        <!--Columns-->
        <ng-container *ngFor="let property of displayedColumns;" [matColumnDef]="property.name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ property?.label }}</th>
          <ng-container *ngIf="!property.isDate">
            <td mat-cell *matCellDef="let element"> {{element[property?.name] || '-'}} </td>
          </ng-container>
          <ng-container *ngIf="property.isDate">
            <td mat-cell *matCellDef="let element"> {{element[property?.name] || '-' | dateTrans:true }} </td>
          </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
      </table>
    </mat-card-content>

    <mat-card-actions>
      <mat-paginator [length]="totalItems" [pageSize]="itemsPerPage" (page)="pageEvent = $event" [pageSizeOptions]="[10, 25, 40]"></mat-paginator>
      <!-- <button mat-icon-button color="primary" (click)="exporter.exportTable('xlsx', {fileName: exportName})">
        <mat-icon>file_download</mat-icon>
      </button> -->
    </mat-card-actions>
  </mat-card>
</div>
