<rdc-create-traffic></rdc-create-traffic>

<form [formGroup]="optionForm">
    <div class="flex justify-start my-4">
      <mat-form-field class="w-64 mr-4" appearance="outline">
          <mat-label>Choisir une date</mat-label>
          <input matInput formControlName="date" [matDatepicker]="picker" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
  </form>
  
  <app-table *ngIf="haveParams" [title]="'Liste des Messages'" [dataService]="dataService" [displayedColumns]="displayedColumns"
    [columns]="columns" [requestParams]="params" [selectable]="false" [editable]="true" (edit)="editItem($event)"
    (remove)="removeItems($event)">
  </app-table>
  