@use '@angular/material' as mat;
@include mat.core();

// creates theme
$my-primary: mat.define-palette($primary-palette, 500);
$my-accent: mat.define-palette(mat.$blue-grey-palette, A200, A100, A400);
$my-custom-typography: mat.define-typography-config(
  $font-family: Poppins,
);
$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent
    ),
    typography: $my-custom-typography,
  )
);
@include mat.all-component-themes($my-theme);


/** Reset **/
.mat-focus-indicator {
  outline: none;
}

.mat-stepper-vertical, .mat-stepper-horizontal {
  display: block;
  box-shadow: 0px 2px 6px #0000000a;
}

.mat-elevation-z4 {
  box-shadow: 0 0.25rem 0.5rem 0 rgb(44 51 73 / 10%)!important;
}

.mat-elevation-z0 {
  box-shadow: none!important;
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  align-items: center;
  .mat-icon {
    margin-right: .26rem;
  }
}

mat-chip.mat-chip.mat-standard-chip {
  &.chip-primary {
      background-color: $primary;
      color: white;
  }
}

.mat-drawer.mat-drawer-side {
  z-index: 1!important;
}