@forward '@nebular/theme/styles/theming';
@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/themes/corporate';

// @import '@nebular/theme/styles/theming';
// @import '@nebular/theme/styles/themes/corporate';

$nb-themes: nb-register-theme(
  (
    // new primary color
    color-primary-100: #f2f6ff,
  color-primary-200: #d9e4ff,
  color-primary-300: #a6c1ff,
  color-primary-400: #329a70e0,
  color-primary-500: #1f6348,
  color-primary-600: #39b181,
  color-primary-700: #209164,
  color-primary-800: #206d4e,
  color-primary-900: #1f6348,
  ),
  corporate,
  corporate
);

app-layout nb-layout-column, app-layout nb-layout, .nb-theme-corporate nb-layout .layout {
  background-color: inherit!important;
}

nb-layout .layout {
  min-height: unset!important;
}
