// utilities
.flex {
  display: flex !important;
  flex-wrap: wrap;

  &.justify-center {
    justify-content: center;
  }

  &.justify-evenly {
    justify-content: space-evenly;
  }

  &.justify-around {
    justify-content: space-around;
  }

  &.justify-between {
    justify-content: space-between;
  }

  &.justify-left {
    justify-content: flex-start;

    &>* {
      margin-right: 1.5rem;
    }
  }

  &.justify-right {
    justify-content: flex-end;

    &>* {
      margin-left: 1.5rem;
    }
  }

  &.align-center {
    align-items: center;
  }

  &.align-start {
    align-items: flex-start;
  }

  &.align-end {
    align-items: flex-end;
  }

  &.align-stretch {
    align-items: stretch;
  }

  &.no-wrap {
    flex-wrap: nowrap;
  }

  &.column {
    flex-direction: column;
  }

  .order-1-m {
    @media (max-width: 800px) {
      order: 1;
    }
  }

  .order-2-m {
    @media (max-width: 800px) {
      order: 2;
    }
  }
}

.full-width {
  width: 100%;
}

.full-width-m {
  @media (max-width: 800px) {
    width: 100%;
  }
}

.full-height {
  height: 100%;
}

.full-viewport-width {
  width: 100vw;
}

.full-viewport-height {
  height: 100vh;
}

.tiers {
  min-width: 30%;
}

.quart {
  min-width: 25%;
}

.text-center {
  text-align: center;
}

.d-none {
  display: none !important;
}

.push-right {
  @media (min-width: 600px) {
    margin-left: auto;
  }
}

.margin-y {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

// Popups

.popup-warn {
  background-color: $popup_warning;
}

.popup-danger {
  background-color: $popup_danger;
}

.popup-success {
  background-color: $popup_success;
}

// text
.t-medium {
  color: $medium;
}

// Components

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.login-wrapper {
  background: linear-gradient(290deg, $light, $primary_shade 100%);
  height: 100vh;
  padding: 0 1rem;
}

.menu-card {
  cursor: pointer;
  color: $medium;
  padding: .8rem !important;
  margin-bottom: 1rem;

  .mat-card-header {
    align-items: center;
  }

  &:hover {
    box-shadow: 0 0.45rem 0.7rem 0 $primary_shade !important;
  }
}

.action-card {
  cursor: pointer;
  color: $medium;
  padding: 0 !important;
  margin-bottom: 1rem;

  .mat-card-header {
    img {
      width: 6rem;
    }
    background-color: $primary_shade;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .mat-card-header-text {
    display: none;
  }

  .mat-card-content {
    text-align: center;
    padding: .8rem !important;
  }

  &:hover {
    box-shadow: 0 0.45rem 0.7rem 0 $primary_shade !important;
  }
}

.button-warn {
  color: $warning;

  &:hover {
    background-color: $warning_shade;
  }
}

.requestError {
  width: 80%;
  margin: 0 auto;

  @media (min-width: 600px) {
    width: 60%;
  }

  @media (min-width: 768px) {
    width: 45%;
  }
}

.full-spinner {
  min-height: 40vh;
  height: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ql-snow .ql-editor img {
  max-width: 40%;
  @media (max-width: 767px) {
    max-width: 60%;
  }
}

.padding-null {
  padding: 0!important;
}
