<h1 matTooltip="gérez les utilisateurs ayants accès à direct traffic" class="max-w-max" matTooltipPosition="right">Utilisateurs</h1>
<nav mat-tab-nav-bar ngClass="tabs">
  <a mat-tab-link routerLink="/dashboard/user/create" [active]="urlContains('/create')" color="primary">
    Créer un utilisateur
  </a>
  <a mat-tab-link routerLink="/dashboard/user/list" [active]="urlContains('/list')" color="primary">
    Liste des utilisateurs
  </a>
</nav>

<div class="margin-y">
  <app-user-create *ngIf="urlContains('/create')"></app-user-create>
  <app-user-list *ngIf="urlContains('/list')"></app-user-list>
</div>
