<div class="grid grid-cols-12 items-start">
    <div class="col-span-12 col-start-1 md:col-end-6 lg:col-end-4 bg-white shadow-md rounded-md mb-2">
        <app-intranet-list></app-intranet-list>
    </div>
    <div class="col-span-12 md:col-start-7 lg:col-start-5 col-end-12">
        <app-intranet-chat></app-intranet-chat>
    </div>
</div>
