<div class="text-center mb-3">
  <a routerLink="/temoin-de-la-route/temoigner" class="bg-green-800 text-white px-3 py-1 rounded hover:shadow-lg">
    Faire un témoignage</a>
</div>
<section class="flex items-center justify-center">
  <div class="w-full flex flex-col justify-center items-center mx-auto px-2">
    <intro-image class="mb-4"></intro-image>
    <p *ngIf="isLoading" class="text-green-500 flex justify-center w-full"><i class="gg-spinner-two-alt"></i></p>
    <section *ngIf="articles"
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-2 gap-y-8 px-3 md:px-0 items-start">
      <a *ngFor="let article of articles" [routerLink]="['/temoin-de-la-route', article.slug]" class="animated"
        animateOnScroll animationName="slide-top">
        <div class="rounded w-full flex flex-col">
          <div class="aspect-w-4 aspect-h-3">
            <img [src]="rootURL + article.image" class="object-cover" />
          </div>
          <div class="bg-white px-4 py-2">
            <span class="text-green-800 font-bold"> {{ article.title }} </span>
            <span class="block text-gray-500 text-sm text-right">Publié le:
              {{ article.createdAt | dateTrans:true }}</span>
          </div>
        </div>
      </a>
    </section>

    <app-pagination *ngIf="articles?.length > 0" [activePage]="currentPage" [totalPage]="totalPage"
      (onPageChange)="changePage($event)"></app-pagination>
    <p *ngIf="articles?.length === 0" class="text-2xl text-center text-red-500">Aucun article pour l'instant.</p>
  </div>
</section>
