<div *ngIf="weatherLocation" class="flex flex-col items-center">
  <div *ngIf="weatherIcon" class="flex items-center">
    <img [src]="weatherIcon" class="w-6 h-6 object-center object-cover rounded-full mr-2" alt="weather_icon">
    <span *ngIf="weatherTemperature" class="text-green-500 font-semibold lg:font-bold">{{ weatherTemperature }}°C</span>
  </div>
  <p *ngIf="weatherLocation" class="text-gray-500 text-sm font-thin">{{ weatherLocation }}</p>
</div>
