img {
  -webkit-animation: scale-up-center 2.6s cubic-bezier(0.445, 0.050, 0.850, 0.950) infinite alternate;
  animation: scale-up-center 2.6s cubic-bezier(0.445, 0.050, 0.850, 0.950) infinite alternate;
  filter: drop-shadow(0px 0px 3px rgba(118, 211, 13, 0.5));
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
