<div class="mb-4">
  <button mat-raised-button color="primary" (click)="editOrCreate()">Créer un Témoignage</button>
</div>

<app-table [title]="'Liste des Témoignages'" [dataService]="dataService" [dataRoute]="dataRoute"
  [displayedColumns]="displayedColumns" [columns]="columns" [requestParams]="params" [selectable]="false"
  [editable]="true" (edit)="editOrCreate($event)" (remove)="removeItems($event)">
</app-table>
