<mat-toolbar>
  <div class="flex align-center">
    <img class="logo" src="assets/images/logo_acturoutes.jpg" alt="avatar">
    <span *ngIf="!menuButtonVisible">Acturoutes Admin</span>
  </div>
  <div>
    <button routerLink="/dashboard/account" mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
    <button *ngIf="menuButtonVisible" (click)="sidenav.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <button (click)="disconnect()" mat-icon-button>
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" [fixedInViewport]="true" [fixedTopGap]="54">
    <mat-list>
      <ng-container *ngFor="let nav of menu">
        <ng-template [ngxPermissionsOnly]="nav.permissions">
          <mat-list-item [routerLink]="nav.path" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}"
            (click)="closeMenu()">
            <mat-icon matListIcon>{{ nav.menu.icon }}</mat-icon>
            <h3 matLine> {{ nav.menu.title }} </h3>
          </mat-list-item>
        </ng-template>
      </ng-container>
    </mat-list>
    <!-- <mat-list class="bottom bg-white">
      <mat-list-item (click)="disconnect()">
      <mat-icon matListIcon>logout</mat-icon>
      <h3 matLine> Se déconnecter </h3>
    </mat-list-item>
    </mat-list> -->
  </mat-sidenav>

  <mat-sidenav-content>
    <nb-layout>
      <nb-layout-column>
        <router-outlet></router-outlet>
      </nb-layout-column>
      </nb-layout>
  </mat-sidenav-content>
</mat-sidenav-container>
