<ng-container *ngIf="(popupState$ | async)?.visible">
    <div class="fixed">
        <p [class]="(popupState$ | async)?.colorClass" class="max-w-xs z-10 font-bold text-lg p-2 text-white rounded">
            <span class="flex justify-center">
                {{ (popupState$ | async)?.msg }} <ng-content></ng-content>
                <i (click)="close()" class="cursor-pointer ml-2 w-min gg-close"></i>
            </span>
        </p>
    </div>
</ng-container>
<!-- <section
  [class.open]="display"
  class="fixed z-10 inset-0 overflow-y-auto"
  (click)="close()"
>
  <div
    class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:p-0 bg-gray-900 bg-opacity-40"
  >
    <div
      (click)="$event.stopPropagation()"
      class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
      role="dialog"
      aria-modal="true"
      aria-labelledby="modal-headline"
    >
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</section> -->