<app-popup></app-popup>
<ngx-loading-bar color="#065f46"></ngx-loading-bar>
<div class="menu-sticky">
  <app-header></app-header>
</div>
<div class="my-1 px-4 md:px-0">
  <app-signal></app-signal>
</div>
<div [@routeAnimations]="o.activatedRouteData.animation">
	<router-outlet #o="outlet"></router-outlet>
</div>
