.menu-sticky {
    @media (max-width: 767px) {
      left: 0;
      right: 0;
      top: 0;
      position: sticky;
      position: -webkit-sticky;
      z-index: 10;
      background-color: white;
    }
  }
  