<section class="w-full px-4 lg:px-2 mb-4">
  <form [formGroup]="defaultForm">
    <div class="mb-3">
      <input class="p-2 placeholder-gray-500 text-green-800 bg-white rounded shadow focus:ring-green-800"
        placeholder="Entrez votre nom" type="text" formControlName="author_name" maxlength="35" minlength="3" required>
    </div>
    <div class="mb-3">
      <input class="p-2 placeholder-gray-500 text-green-800 bg-white rounded shadow focus:ring-green-800"
        placeholder="Titre de votre témoignage" type="text" formControlName="title" minlength="3" maxlength="97"
        required>
    </div>
    <div class="mb-3">
      <input class="mb-3 p-2 bg-transparent min-w-max" type="file" accept="image/*" required
        (change)="onFileChange($event)">
    </div>
    <div class="mb-3 shadow">
      <quill-editor (onEditorCreated)="addBindingCreated($event)" formControlName="content" class="editor" placeholder="Décrivez votre témoignage ici (Appuyez 2 fois sur la touche ↩ pour aller à la ligne)..."
        [sanitize]="true">
        <div quill-editor-toolbar [innerHTML]="editorToolbar"></div>
      </quill-editor>
    </div>
    <div class="mb-3">
      <re-captcha class="w-full" #captchaElem [siteKey]="recaptchaSiteKey" formControlName="recaptcha" required>
      </re-captcha>
    </div>
    <div class="text-center">
      <button type="button"
        class="bg-green-800 text-white active:bg-gray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg w-full"
        [disabled]="!defaultForm.valid || isButtonDisabled" (click)="post()">
        <span class="flex justify-center">
          Témoigner <i *ngIf="isButtonDisabled" class="ml-2 w-min gg-spinner-two-alt"></i>
        </span>
      </button>
    </div>
  </form>
</section>
