<form [formGroup]="defaultForm">

  <div class="flex justify-start my-4">
    <mat-form-field class="w-64 mr-4" appearance="outline">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type" required>
        <mat-option [value]="'square'">Image carrée</mat-option>
        <mat-option [value]="'rectangle'">Image Rectangulaire</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-64 mr-4" appearance="outline"
      matTooltip="spécifiez si la position de la publicité" matTooltipPosition="above"
      matTooltipShowDelay="500">
      <mat-label>Afficher :</mat-label>
      <mat-select formControlName="position">
        <mat-option value="top">En Haut</mat-option>
        <mat-option value="bottom">En Bas</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="flex justify-start mb-4">
    <mat-form-field class="w-64" appearance="outline">
      <mat-label>Lien externe (optionnel)</mat-label>
      <input matInput  formControlName="link" />
    </mat-form-field>
  </div>

  <div class="w-full mb-4">
    <file-selector [defaultFiles]="defaultImage" [maxCount]="1" [accept]="'image/jpeg,image/jpg,image/png,image/gif'" (onFileChange)="setFiles($event)"></file-selector>
  </div>

  <div class="flex justify-between">
    <button (click)="sendForm()" [disabled]="!defaultForm.valid || isButtonDisabled" type="button" mat-raised-button color="primary">{{ currentData ? 'mettre à jour': 'créer' }}</button>
    <button *ngIf="currentData" type="button" mat-stroked-button color="warn" (click)="onDelete(currentData._id)">Supprimer</button>
  </div>
</form>
