<form [formGroup]="defaultForm">
  <div class="flex justify-left my-3">
    <mat-form-field class="w-72" appearance="outline" matTooltip="Entrez le titre d'un article"
      matTooltipPosition="above">
      <mat-label>entrez un titre d'article</mat-label>
      <input matInput #searchInput>
      <mat-icon matSuffix>search</mat-icon>
      <mat-hint>5 charactères minimum</mat-hint>
    </mat-form-field>
  </div>

  <app-chip-selector [itemList]="itemList" [selectedList]="selectedList" [buttonDisabled]="isButtonDisabled"
    (onSelect)="setItem($event)"></app-chip-selector>
</form>
