<form [formGroup]="defaultForm">

  <div class="mb-4">
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Titre</mat-label>
      <input matInput formControlName="title" maxlength="97" required />
    </mat-form-field>
  </div>

  <div class="w-full mb-4">
    <file-selector [defaultFiles]="defaultImage" [maxCount]="1" class="w-full lg:w-96"
      (onFileChange)="setFiles($event)"></file-selector>*
  </div>

  <div class="flex justify-center position-relative overflow-y-scroll content">
    <quill-editor #editor formControlName="content"
      placeholder="Entrez le contenu (allez 2 fois à la ligne, pour générer des paragraphes)">
      <div quill-editor-toolbar [innerHTML]="editorToolbar"></div>
    </quill-editor>
  </div>

  <div class="flex justify-between mt-8">
    <button type="button" mat-raised-button color="primary" [disabled]="!defaultForm.valid || isButtonDisabled"
      (click)="sendForm()"> {{ currentData ? 'mettre à jour': 'créer' }}
    </button>
    <button *ngIf="currentData" [disabled]="isButtonDisabled" type="button" mat-stroked-button color="warn"
      (click)="onDelete(currentData._id)">Supprimer</button>
  </div>
</form>
