<h1 class="max-w-max">
  Gérez les espaces publicitaires</h1>
<nav mat-tab-nav-bar ngClass="tabs">
  <a mat-tab-link routerLink="/dashboard/pubs/create" [active]="urlContains('/create')" color="primary">
    Créer une pub
  </a>
  <a mat-tab-link routerLink="/dashboard/pubs/list" [active]="urlContains('/list')" color="primary">
    Liste des images publicitaires
  </a>
  <a mat-tab-link routerLink="/dashboard/pubs/intro" [active]="urlContains('/intro')" color="primary">
    Intro Acturoutes
  </a>
</nav>

<div class="margin-y">
  <app-pubs-create *ngIf="urlContains('/create')"></app-pubs-create>
  <app-pubs-list *ngIf="urlContains('/list')"></app-pubs-list>
  <app-set-intro *ngIf="urlContains('/intro')"></app-set-intro>
</div>
