.content {
  bottom: 4%;
  left: 4%;
  top: unset;
  max-width: 75%;
  height: fit-content;

  * {
    width: fit-content;
  }

  @media (max-width: 767px) {
    display: none;
  }

  p {
    display: inline;
    padding: 0.22em 0.5em;
    box-decoration-break: clone;
    line-height: 1.7;
  }
}

intro-image {
    @apply w-full;
}
