<main
  class="max-w-screen-lg mx-auto grid grid-cols-1 md:grid-cols-5 grid-rows-auto md:grid-rows:1 md:px-0 md:gap-3 mt-6 items-start">
  <aside class="col-auto row-start-2 row-end-auto md:row-span-1">
    <app-traffic-image></app-traffic-image>
    <ng-adsense></ng-adsense>
  </aside>


  <section class="col-span-3 row-start:1 row-end-auto md:row-span-1 md:px-4 flex items-center justify-center">
    <div class="w-full flex flex-col justify-center items-center mx-auto px-2">
      <intro-image></intro-image>
      <!--Main Article-->
      <main *ngIf="mainArticle" class="w-full flex flex-wrap md:flex-no-wrap space-x-0 md:space-x-6 mb-2">
        <div class="mb-4 lg:mb-0 p-4 md:p-0 w-full md:w-4/7 relative rounded block">
          <a [routerLink]="['/acturoutes-rdc', mainArticle.slug]" class="block relative aspect-w-2 aspect-h-1">
            <img [src]="rootURL + mainArticle.main_image" class="rounded-md object-cover w-full">
            <div class="content">
              <h6 *ngIf="mainArticle.subtitle" class="font-bold bg-red-500 py-1 px-2 text-xl text-white mb-2 rounded">
                {{ mainArticle.subtitle }}</h6>
              <p class="block font-semibold text-2xl bg-green-800 text-white">
                {{ mainArticle.title }}
              </p>
            </div>
          </a>
          <h6 *ngIf="mainArticle.subtitle" class="md:hidden font-bold py-1 px-2 bg-red-500 text-white my-2 rounded">{{ mainArticle.subtitle }}</h6>
          <h1 class="md:hidden text-gray-800 text-4xl font-bold mb-2 leading-tight">
            {{ mainArticle.title }}
          </h1>
          <span class="block text-gray-500 text-sm mt-1">Publié le: {{ mainArticle.createdAt | dateTrans }}</span>
          <p class="text-gray-600 mb-4">
            {{ mainArticle.description | truncateAfter:140 }} <a  [routerLink]="['/articles', mainArticle.slug]"
              class="inline-block mt-2 md:pl-2 rounded font-semibold text-green-900 hover:underline"> Voir l'article </a>
          </p>
        </div>
      </main>

      <p *ngIf="isLoading" class="text-green-500 flex justify-center w-full"><i class="gg-spinner-two-alt"></i></p>
      
      <app-ads *ngIf="rectangleListOne.length > 0" [imageUrl]="rectangleListOne" class="w-full my-2"></app-ads>
      <section *ngIf="articles" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-2 gap-y-8 px-3 md:px-0 items-start">
        <a *ngFor="let article of articles" [routerLink]="['./', article.slug]" class="animated" animateOnScroll animationName="slide-top">
          <div class="rounded w-full flex flex-col">
            <div class="aspect-w-4 aspect-h-3">
              <img [src]="rootURL + article.main_image" class="object-cover" />
            </div>
            <div class="bg-white px-4 py-2">
              <h6 *ngIf="article.subtitle" class="font-bold py-1 px-2 bg-red-500 text-white my-2 rounded">
                {{ article.subtitle }}</h6>
              <span class="text-green-800 font-bold"> {{ article.title }} </span>
              <p class="text-gray-800 mb-2 mt-1">
                {{ article.description | truncateAfter:100 }}
              </p>
              <span class="block text-gray-500 text-sm text-right">Publié le: {{ article.createdAt | dateTrans:true }}</span>
            </div>
          </div>
        </a>
      </section>

      <app-pagination *ngIf="articles?.length > 0" [activePage]="currentPage" [totalPage]="totalPage"
        (onPageChange)="changePage($event)"></app-pagination>
      <p *ngIf="articles?.length === 0" class="text-2xl text-center text-red-500">Pas d'articles pour le moment.</p>
      <app-ads *ngIf="rectangleListTwo.length > 0" [imageUrl]="rectangleListTwo" class="w-full mt-2"></app-ads>
    </div>
  </section>


  <aside class="col-auto row-start-3 row-end-auto md:row-span-1">
    <app-ads *ngIf="squareListOne.length > 0" [isSquare]="true" [imageUrl]="squareListOne"></app-ads>
    <app-big-format></app-big-format>
    <app-ads *ngIf="squareListTwo.length > 0" [isSquare]="true" [imageUrl]="squareListTwo"></app-ads>
    <app-last-road-witness></app-last-road-witness>
  </aside>
</main>


<app-footer></app-footer>