:root {

  .message {
    animation: fade infinite 3s;
    -webkit-animation: fade infinite 3s;

    &:nth-child(2) {
      animation-delay: 4s;
    }
  }

  @keyframes fade {
    from{
        opacity:1;
        top:0px;
    }
    to{
        opacity:0;
        top:-5px;
    }
  }
}
