<div *ngIf="contentMessage?.length" [@inOutAnimation]
  class="fade w-full md:w-4/5 text-center pr-1 mx-auto md:truncate md:whitespace-nowrap break-words overflow-ellipsis max-w-max md:max-w-min bg-gray-200 rounded">
  <p class="inline-block text-left md:pr-4">
    <span class="inline-block bg-green-800 rounded py-1 px-2 w-max text-white">Le Signal</span>
    <ng-container *ngFor="let msg of contentMessage; let i = index">
      <span class="pl-2 text-gray-800 font-semibold" *ngIf="i === currentIndex" [@slideFromRight]> {{ msg }} </span>
    </ng-container>
  </p>
</div>