:host ::ng-deep {
    ngx-dropzone {
        height: 80px!important;
    }
    .ngx-dropzone-preview {
        min-height: fit-content!important;
        height: fit-content!important;
    }
}