<article *ngIf="showPreview && defaultFiles" [@inOutAnimation]>
  <h4>Image(s) Actuelle(s): </h4>
  <div class="flex justify-left full-width">
    <image-preview *ngFor="let f of defaultFiles" [imageUrl]="f">
    </image-preview>
  </div>
  <div class="flex justify-left my-2">
    <button mat-stroked-button color="primary" (click)="addFile()">Changer les images</button>
  </div>
</article>

<section [class.d-none]="showPreview">
  <ngx-dropzone [class.d-none]="maxFile" (change)="onSelect($event)" [multiple]="multiple" [accept]="accept"
    [maxFileSize]="maxSize" [disabled]="disabled">
    <ngx-dropzone-label>Glissez et déposez, ou cliquez pour choisir un fichier <br> (taille maximum de 2 MB)
    </ngx-dropzone-label>
  </ngx-dropzone>

  <div cdkDropList cdkDropListOrientation="horizontal" class="flex justify-left full-width drag-container"
    (cdkDropListDropped)="drop($event)">
    <image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files; let i = index" [file]="f"
      class="ngx-dropzone-preview" cdkDragBoundary=".drag-container" [aspectRatio]="aspectRatio" [removable]="true"
      (onCrop)="onCrop($event, i)" (removed)="onDelete(f)" cdkDrag>
      <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
    </image-preview>
  </div>
</section>
