<div class="card">
  <div class="card-header" [ngClass]="getHeaderStyle" *ngIf="onHideHeader()">
    <h2 mat-dialog-title>
      {{ getHeaderText }}
    </h2>
  </div>
  <div class="text-center">
    <div mat-dialog-content>
      <div [ngClass]="getIconType" *ngIf="!image">
        <i class="material-icons">{{ getIcon }}</i>
      </div>
      <div *ngIf="image">
        <img [src]="imageLink" alt="" />
      </div>
      <p class="font-weight-bold">{{ getMessage }}</p>
      <p class="text-red-500">Cette action est irréversible</p>
    </div>
  </div>
  <div class="card-footer">
    <button [ngClass]="getConfirmOutlineBtn" mat-stroked-button color="primary" (click)="onDismiss()">{{ getCancelMsg }}</button>
    <button [ngClass]="getConfirmBtn" mat-raised-button color="warn" (click)="onConfirm()">{{ getValidationMsg }}</button>
  </div>
</div>
