.card {
  border: none;

  .card-header {
    height: 45px;
    padding: 10px;

    h4 {
      color: #ffffff;
      font-size: 12px;
      text-align: center;
    }
  }

  .header-success {
    background: #056839;
  }

  .header-confirm {
    background: #f0b30a;
  }

  .header-error {
    background: #cf0b3a;
  }

  .header-default {
    background: #696969;
  }

  .card-body {
    padding: 10px 30px;
    font-size: 12px;

    .mat-dialog-content {
      padding: 10px;
      i {
        margin-left: 80px !important;
        font-size: 55px !important;
      }

      .icon-success {
        i {
          color: #0b6e5a !important;
        }
      }

      .icon-warning {
        i {
          color: #f0b30a !important;
        }
      }

      .icon-error {
        i {
          color: #cf0b3a !important;
        }
      }

      .icon-default {
        i {
          color: #696969 !important;
        }
      }

      p {
        padding: 10px;
        color: #9a9a9a;
        font-size: 17px;
        text-align: center;
      }
    }
  }

  .card-footer {
    height: 50px;
    padding: 10px;
    text-align: center;

    button {
      &:last-child {
        margin-left: 10px;
      }
    }
  }
}
