html {
  scroll-behavior: smooth;
}

body {
  font-family: Georgia, arial, serif;
  padding-top: 0!important;
}
.bg-white {
  background-color: #edf2f7;
}

input {
  border: none;
  width: 100%;
  transition: linear ease 250ms;
}

button {
  transition: linear ease 250ms;
}

*,
*:focus {
  outline: none;
}
