<mat-card *ngIf="haveData" class="mat-elevation-z4 max-width-screen-sm">
  <mat-card-content>
    <h2>Nom et Contacts</h2>
    <div class="md:grid grid-cols-2 gap-4">
      <form [formGroup]="nameForm" class="my-4">
        <mat-form-field class="w-full">
          <input matInput type="text" placeholder="Nom" formControlName="name" minlength="3" required>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" [disabled]="!nameForm.valid || isButtonDisabled"
            (click)="updateName()">Mettre à jour</button>
        </div>
      </form>
      <form [formGroup]="mailForm" class="my-4">
        <mat-form-field class="w-full">
          <input matInput type="email" placeholder="Addresse mail" formControlName="email" required>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" [disabled]="!mailForm.valid || isButtonDisabled"
            (click)="updateEmail()">Mettre à jour</button>
        </div>
      </form>
    </div>
    <form [formGroup]="passwordForm">
      <h2>Mot de passe</h2>
      <mat-form-field class="w-full">
        <input matInput type="text" placeholder="Mot de passe" formControlName="password" minlength="6" required>
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" [disabled]="!passwordForm.valid || isButtonDisabled"
          (click)="updatePassword()">Mettre à jour</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
