<main
  class="max-w-screen-lg mx-auto grid grid-cols-1 md:grid-cols-5 grid-rows-auto md:grid-rows:1 md:px-0 md:gap-3 mt-6 items-start">
  <aside class="col-auto row-start-2 row-end-auto md:row-span-1">
    <app-traffic-image></app-traffic-image>
    <ng-adsense [adFormat]="'rectangle'"></ng-adsense>
  </aside>


  <section class="col-span-3 row-start:1 row-end-auto md:row-span-1 md:px-4 flex items-center justify-center">
    <div class="grid grid-cols-1 mx-auto px-2 md:px-0">
      <intro-image class="mb-4"></intro-image>
      <div [class.hidden]="!currentArticle">
        <div class="flex justify-between items-center flex-wrap">
          <h6 *ngIf="currentArticle?.subtitle" class="font-bold py-1 px-2 bg-red-500 text-xl text-white my-2 rounded">
            {{ currentArticle?.subtitle }}</h6>
          <article>
            <share-button button="facebook" [url]="shareUrl"></share-button>
            <share-button button="linkedin" [url]="shareUrl"></share-button>
            <share-button button="whatsapp" [url]="shareUrl"></share-button>
            <share-button button="twitter" [url]="shareUrl"></share-button>
          </article>
        </div>
        <h1 class="text-gray-800 text-4xl font-bold my-2 leading-tight">
          {{ currentArticle?.title }}
        </h1>
        <span class="block text-gray-500 text-sm">Publié le: {{ currentArticle?.createdAt | dateTrans:true }}</span>
        <p class="text-gray-600 mb-4 font-semibold">{{ currentArticle?.description }}</p>
        <div class="aspect-w-2 aspect-h-1 mt-4">
          <img [src]="rootURL + currentArticle?.main_image" class="rounded-md object-cover">
        </div>
        <div *ngIf='currentArticle?.legend' class="py-2 w-full">
          <span class="text-sm text-green-500 font-bold">{{ currentArticle?.legend }}</span>
          <hr class="w-2/5 mt-2">
        </div>
        <p *ngIf="currentArticle" class="text-gray-700 my-2">Lu <span class="text-green-500">{{ currentArticle?.viewCount }}</span> fois</p>
        <div class="overflow-hidden flex justify-center">
          <ng-adsense [adFormat]="'mobile banner'" [display]="'block'" [width]="320"></ng-adsense>
        </div>
        <div class="text-gray-700 mt-4 html-content ql-editor" [innerHtml]="currentArticle?.content | html">
        </div>
      </div>

      <ng-container *ngIf="noData">
        <h2 class="text-green-800 text-4xl font-bold mb-10 leading-tight">Cet élément n'existe pas ou a été supprimé
        </h2>
      </ng-container>

      <app-ads *ngIf="rectangleListOne.length > 0" [imageUrl]="rectangleListOne"></app-ads>
      <app-actu-tv></app-actu-tv>
      <app-ads *ngIf="rectangleListTwo.length > 0" [imageUrl]="rectangleListTwo"></app-ads>
    </div>
  </section>


  <aside class="col-auto row-start-3 row-end-auto md:row-span-1">
    <app-ads *ngIf="squareListOne.length > 0" [isSquare]="true" [imageUrl]="squareListOne"></app-ads>
    <app-big-format></app-big-format>
    <app-ads *ngIf="squareListTwo.length > 0" [isSquare]="true" [imageUrl]="squareListTwo"></app-ads>
    <app-last-road-witness></app-last-road-witness>
  </aside>
</main>


<!-- footer -->
<app-footer></app-footer>
