<div *ngIf="intro$ | async as Intro" [class.intro--hidden]="isClosed"
    class="intro mx-4 mb-4 lg:mb-0 p-4 md:p-0 w-full md:w-4/7 relative rounded block">
    <div class="block relative aspect-w-2 aspect-h-1">
        <img [src]="rootURL + Intro.image" class="rounded-md object-cover w-full">
        <div class="content">
            <button class="text-gray-800" (click)="close()">Ignorer</button>
            <a (click)="close()" [href]="Intro.link" class="flex gap-x-4 items-center text-white font-semibold shadow rounded px-2" rel="nofollow sponsored" target="_blank" [@inOutAnimation]>
                Voir Plus <i class="gg-chevron-right"></i>
            </a>
        </div>
    </div>
</div>