.content {
  top: unset;
  height: fit-content;

  * {
    width: fit-content;
  }
  @apply flex justify-between items-center px-3 py-2 text-lg lg:text-xl backdrop-blur-md bg-white/30;
}

:host {
  @apply w-full;
  .intro {
    @apply relative aspect-w-2 aspect-h-1 w-full mb-4;
    margin-left: 0 !important;
    margin-left: 0 !important;
    &--hidden {
      @apply hidden;
    }
  }
}
