<div class="w-screen h-screen flex flex-col justify-center align-center bgc overflow-hidden px-2 md:p-0">
    <div class="md:max-w-screen aspect-w-16 aspect-h-9 shadow-xl md:shadow-none">
        <img src="assets/images/attente.png" alt="site_en_construction" class="object-contain">
    </div>
</div>