<section *ngIf="article" class="animated bg-gray-100 rounded my-4" animateOnScroll animationName="slide-top">
    <p class="text-lg pl-2 mt-1 text-green-800 font-bold">Témoin de la route</p>
    
      <a [routerLink]="['/temoin-de-la-route', article.slug]">
        <div class="rounded w-full flex flex-col">
          <div class="aspect-w-2 aspect-h-1">
            <img [src]="rootURL + article.image" class="object-cover" />
          </div>
          <span class="text-gray-800 pl-2 capitalize"> {{ article.title }} </span>
        </div>
      </a>
    </section>
    