<div class="max-w-screen-md mx-auto pt-4 animated" animateOnScroll animationName="slide-top">
  <div class="flex justify-center items-center space-x-1">
    <a rel="nofollow" class="flex items-center px-4 py-2 text-gray-500 bg-gray-300 rounded-md" [ngClass]="{'hover:bg-green-400 hover:text-white cursor-pointer': canDecrease}" (click)="decrease()">
      Préc.
    </a>

    <a rel="nofollow" class="px-4 py-2 bg-green-800 rounded-md text-white">
      {{ activePage }}
    </a>
    <a rel="nofollow" class="px-4 py-2 font-bold text-green-800 bg-gray-300 rounded-md" [ngClass]="{'hover:bg-green-400 hover:text-white cursor-pointer': canIncrease}" (click)="increase()">
      Suiv.
    </a>
  </div>
</div>
