<footer class="animated border-t mt-12 bg-gray-100" animateOnScroll animationName="slide-top">
  <div class="flex flex-wrap justify-center py-6 px-4">
    <div class="w-full mb-4 md:mb-0 md:w-2/6">
      <h6 class="font-semibold text-gray-700 mb-4 underline">Email :</h6>
      <ul>
        <li><span class="block text-gray-600 py-2"><a href="mailto:b.kouame@acturoutes.com" class="text-green-500">b.kouame@acturoutes.com</a></span> </li>
      </ul>
    </div>

    <div class="w-full mb-4 md:mb-0 md:w-2/6">
      <h6 class="font-semibold text-gray-700 mb-4 underline">Contacts :</h6>
      <ul>
        <li><span class="block text-gray-600 py-1"><a href="tel:+2252722557409" class="text-green-500">+225 27 22 55 74 09</a></span> </li>
        <li><span class="block text-gray-600"><a href="tel:+2250707982457" class="text-green-500">+225 07 07 98 24 57</a></span> </li>
      </ul>
    </div>

    <div class="w-full md:w-1/6">
      <h6 class="font-semibold text-gray-700 mb-4 underline">Nous trouver :</h6>
      <ul>
        <li><span class="block text-gray-600 py-1">Abidjan - Côte D'ivoire</span> </li>
        <li><span class="block text-gray-600">01 BP 3378 Abidjan 01</span> </li>
      </ul>
    </div>
  </div>

  <div class="flex flex-col md:flex-row justify-center border-t">
    <span class="w-max block p-2 text-green-600 font-bold">Une publication WV REELCOM</span>
  </div>
</footer>
