:host ::ng-deep {
  mat-chip-list[class=":not(overflow-hidden)"] .mat-chip-list-wrapper {
    max-height: 50vh;
    margin-top: .6rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    column-gap: .6rem;
    overflow-y: scroll;

    @media (min-width: 768px) {
      max-height: 45vh;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
