<mat-chip-list *ngIf="!multiSelect" aria-label="Sélectionnez l'elément">
  <mat-chip *ngFor="let item of itemList" (click)="setSelectedItem(item)"
    [ngClass]="isSelectedItem(item) ? 'chip-primary' : ''">{{ item.label }}</mat-chip>
</mat-chip-list>

<mat-chip-list *ngIf="multiSelect" aria-label="Sélectionnez les éléments">
  <div cdkDropList cdkDropListOrientation="horizontal" class="flex justify-left full-width drag-container"
    (cdkDropListDropped)="drop($event)">
    <mat-chip *ngFor="let item of selectedList" cdkDragBoundary=".drag-container"
      class="chip-primary flex justify-between items-center" cdkDrag>
      {{ item.title }} <mat-icon (click)="setItem(item)">close</mat-icon>
    </mat-chip>
  </div>
</mat-chip-list>

<div *ngIf="itemList" class="margin-y" [@inOutAnimation]>
  <p *ngIf="listIsEmpty">Aucun elément ne correspond à votre recherche</p>

  <mat-chip-list *ngIf="multiSelect" aria-label="Sélectionnez l'elément" class="content">
    <div class="rounded w-full flex flex-col mb-2" *ngFor="let item of itemList">
      <div class="bg-white px-4">
        <span class="text-green-800 font-semibold text-sm"> {{ item.title }} </span>
        <p class="text-gray-800 font-semibold mb-2">
          {{ item.description }}
        </p>
        <p>
          <mat-chip [ngClass]="isInList(item) ? 'chip-primary' : ''" (click)="setItem(item)">Sélectionner</mat-chip>
        </p>
      </div>
    </div>
    <!-- <mat-chip *ngFor="let item of itemList" (click)="setItem(item)" [ngClass]="isInList(item) ? 'chip-primary' : ''">
        {{ item.title }}</mat-chip> -->
  </mat-chip-list>
</div>

<div *ngIf="haveItems" class="flex justify-between mt-4">
  <button type="button" mat-raised-button color="primary" [disabled]="selectedList?.length !== count || buttonDisabled"
    (click)="emit()">valider</button>
</div>
