<form [formGroup]="defaultForm">

    <div class="flex justify-start my-4">
  
      <mat-form-field class="w-96 mr-4" appearance="outline">
        <mat-label>Message à afficher</mat-label>
        <textarea matInput formControlName="message" required></textarea>
      </mat-form-field>
    </div>
  
    <div class="flex justify-between my-4">
      <button type="button" mat-raised-button color="primary" [disabled]="!defaultForm.valid || isButtonDisabled"
        (click)="sendForm()">{{ currentData ? 'mettre à jour': 'créer' }}</button>
      <button *ngIf="currentData" type="button" mat-stroked-button color="warn"
        (click)="onDelete(currentData._id)">Supprimer</button>
    </div>
  </form>
  