<form [formGroup]="optionForm">
    <div class="">
      <button mat-raised-button color="primary" (click)="editOrCreate()">Créer un article</button>
    </div>
  
    <div class="flex flex-col justify-start my-4">
      <h2>Liste</h2>
      <!-- <mat-form-field class="w-64" appearance="outline">
        <mat-label>Sélectionnez le type d'article</mat-label>
        <mat-select formControlName="type">
          <mat-option value="">Tout</mat-option>
          <mat-option value="isHeadline">A la une</mat-option>
          <mat-option value="isBigFormat">Grand Format</mat-option>
          <mat-option value="isEvent">Edition spéciale</mat-option>
          <mat-option value="isEnglishArticle">News</mat-option>
        </mat-select>
      </mat-form-field> -->
    </div>
  </form>
  
  <app-table [title]="'Liste des Articles'" [dataService]="dataService"
    [displayedColumns]="displayedColumns" [columns]="columns" [requestParams]="params" [selectable]="false"
    [editable]="true" (edit)="editOrCreate($event)" (remove)="removeItems($event)">
  </app-table>
  