<ng-container *ngIf="currentRoom && !isLoading">
  <nb-chat title="Liste des Messages" size="medium" [scrollBottom]="shouldScroll" #chatForm>
    <nb-chat-message *ngFor="let msg of messages" [type]="msg.type" [message]="msg.text" [reply]="msg.reply"
      [sender]="msg.user.name" [date]="msg.date" [files]="msg.files" [avatar]="msg.user.avatar">
    </nb-chat-message>
  
    <nb-chat-form messagePlaceholder="écrivez ici..." (send)="sendMessage($event)" [dropFiles]="true">
    </nb-chat-form>
  </nb-chat>
</ng-container>
<div class="flex justify-center">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>
