<ng-container *ngIf="images?.length">
  <article class="px-5 md:px-0 animated" animateOnScroll animationName="slide-top">
    <div class="divide-y divide-green-500 pl-4 md:pl-0 mb-4">
      <p class="text-lg text-green-800 font-bold underline">{{ (isRdcPage$ | async) ? 'Cartes du trafic Kinshasa' : 'Cartes du trafic' }}</p>
    </div>
    <ng-container *ngFor="let img of images">
      <div class="w-full aspect-w-3 aspect-h-2 mb-4">
        <img [src]="rootURL + img.image" class="object-cover cursor-help rounded" (click)="setCurrentData(img.image, img.title)" />
      </div>
    </ng-container>
  </article>
</ng-container>

<div *ngIf="showModal" [@inOutAnimation]  class="modal modal-active fixed w-full h-full top-0 left-0 flex items-center justify-center z-max">
  <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50" (click)="toggleModal()"></div>
  
  <div class="modal-container bg-white w-11/12 md:max-w-screen-sm mx-auto rounded shadow-lg z-50 overflow-y-auto">
    
    <!-- <div class="modal-close absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50">
      <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
        <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
      </svg>
    </div> -->

    <!-- Add margin if you want to see some of the overlay behind the modal-->
    <div class="modal-content py-3 px-2 text-left w-3/9">
      <!--Title-->
      <div class="flex justify-center items-center pb-2">
        <div class="modal-close cursor-pointer z-50" (click)="toggleModal()">
          <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
          </svg>
        </div>
      </div>

      <!--Body-->
      <div class="rounded w-full aspect-w-3 aspect-h-2">
        <img [src]="rootURL + currentImage" class="object-cover" />
      </div>
      <p class="py-2 text-green-600 font-semibold text-xl">{{ currentText }}</p>
    </div>
  </div>
</div>