<ng-container *ngIf="firstArticle && otherArticles">
  <div class="divide-y divide-green-500 pl-4 md:pl-0 mb-4 animated" animateOnScroll animationName="slide-top">
    <p class="text-lg text-green-800 font-bold underline">Grand Format</p>
  </div>

  <div class="flex flex-col divide-y divide-gray-300 bg-gray-100 mb-3 animated rounded" animateOnScroll animationName="slide-top">
    <a [routerLink]="['/articles', firstArticle.slug]">
      <div class="rounded w-full flex flex-col mb-6 md:mb-4">
        <span class="text-green-800 font-bold pt-1 px-4"> {{ firstArticle.title }} </span>
        <div class="aspect-w-4 aspect-h-3">
          <img [src]="rootURL + firstArticle.main_image" class="object-cover" />
        </div>
        <div class="px-4 py-2">
          <p class="text-gray-800">
            {{ firstArticle.description | truncateAfter:110 }}
          </p>
        </div>
      </div>
    </a>
    
    <p class="text-green-800 font-semibold py-2 pl-2">Lire aussi...</p>
  
    <a *ngFor="let article of otherArticles" [routerLink]="['/articles', article.slug]">
      <div class="rounded w-full flex flex-col">
        <div class="px-4 py-2">
          <span class="text-gray-800 font-semibold"> {{ article.title | truncateAfter:60 }} </span>
        </div>
      </div>
    </a>
  </div>
</ng-container>
