<rdc-create-pubs></rdc-create-pubs>
<app-table [title]="'Liste des Images'" [dataService]="dataService" [displayedColumns]="displayedColumns"
  [columns]="columns" [requestParams]="params" [selectable]="false" [editable]="true" [searchable]="false" (edit)="editItem($event)" (remove)="removeItems($event)">
</app-table>