<rdc-create-signal></rdc-create-signal>
<app-table [title]="'Liste des Messages'" [dataService]="dataService" [displayedColumns]="displayedColumns"
  [columns]="columns" [requestParams]="params" [selectable]="false" [editable]="true" (edit)="editItem($event)"
  (remove)="removeItems($event)">
</app-table>
