<div [ngClass]="{'aspect-w-16 aspect-h-3': !isSquare, 'aspect-w-1 aspect-h-1': isSquare}" class="w-full mb-2 animated" [class.fade]="isMultiple" animateOnScroll animationName="slide-top">
    <!-- <ng-container *ngFor="let image of imageUrl">
        <a *ngIf="image?.link" [href]="image?.link" target="_blank">
            <img [src]="image?.image" [alt]="image?.alt || 'image'" class="object-contain mx-auto" [class.visible]="image?.visible">
        </a>
        <img *ngIf="!image?.link"  [src]="image?.image" [alt]="image?.alt || 'image'" class="object-contain mx-auto" [class.visible]="image?.visible">
    </ng-container> -->
        <a *ngIf="currentImage?.link" [href]="currentImage?.link" class="block" rel="nofollow sponsored" target="_blank" [@inOutAnimation]>
            <img [src]="rootURL + currentImage?.image" alt="image-pub" class="w-full h-full object-center object-cover visible rounded">
        </a>
        <img *ngIf="!currentImage?.link" [src]="rootURL + currentImage?.image" alt="image" class="w-full h-full object-center object-cover visible rounded" [@inOutAnimation]>
 </div>