.fade {
    position: relative;
    img {
        position:absolute;
        top:0;
        left:0;
        bottom: 0;
        right:0;
    }
    a {
        position:absolute;
        top:0;
        left:0;
        bottom: 0;
        right:0;
        cursor: pointer;
        z-index: 2;
    }
}

.square {
    width: 100%;
}

.aspect-w-16.aspect-h-3 img{
    object-fit: contain;
}