<form [formGroup]="defaultForm">

    <div class="flex justify-between flex-wrap my-2">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Titre</mat-label>
        <input matInput formControlName="title" maxlength="97" required />
      </mat-form-field>
  
      <mat-form-field class="w-full lg:w-72 lg:mr-4" appearance="outline">
        <mat-label>Sous-titre (mot d'accroche)</mat-label>
        <input matInput formControlName="subtitle" maxlength="28" />
      </mat-form-field>
  
      <!-- <mat-form-field class="w-full lg:w-64 lg:mr-4" appearance="outline">
        <mat-label>Afficher dans: édition spéciale</mat-label>
        <mat-select formControlName="isEvent">
          <mat-option [value]="false">Non</mat-option>
          <mat-option [value]="true">Oui</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field class="w-full lg:w-64" appearance="outline">
        <mat-label>Afficher dans: News</mat-label>
        <mat-select formControlName="isEnglishArticle">
          <mat-option [value]="false">Non</mat-option>
          <mat-option [value]="true">Oui</mat-option>
        </mat-select>
      </mat-form-field> -->
    </div>
    
    <div class="flex justify-start mb-4">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>description</mat-label>
        <textarea matInput formControlName="description" maxlength="250" required></textarea>
      </mat-form-field>
    </div>
  
    <div class="flex justify-between items-start mb-4">
      <file-selector [defaultFiles]="defaultImage" [maxCount]="1" class="w-full lg:w-96" (onFileChange)="setFiles($event)"></file-selector>
      <mat-form-field class="w-full mt-2 lg:mt-0 lg:w-96 lg:ml-4" appearance="outline">
        <mat-label>Légende de l'image</mat-label>
        <textarea matInput formControlName="legend" maxlength="160"></textarea>
      </mat-form-field>
    </div>
  
    <div class="flex justify-center position-relative overflow-y-scroll content">
      <quill-editor #editor formControlName="content" placeholder="Entrez le contenu (allez 2 fois à la ligne, pour générer des paragraphes)">
        <div quill-editor-toolbar [innerHTML]="editorToolbar"></div>
      </quill-editor>
    </div>
  
    <div class="flex justify-between mt-8">
      <button type="button" mat-raised-button color="primary" [disabled]="!defaultForm.valid || isButtonDisabled"
        (click)="sendForm()"> {{ currentData ? 'mettre à jour': 'créer' }}
      </button>
      <button *ngIf="currentData" [disabled]="isButtonDisabled" type="button" mat-stroked-button color="warn"
        (click)="onDelete(currentData._id)">Supprimer l'article</button>
    </div>
  </form>
  
  <!-- <span class="flex justify-center align-baseline">
    <mat-icon>
      <mat-progress-spinner diameter="18" mode="indeterminate" strokeWidth="11%">
      </mat-progress-spinner>
    </mat-icon>
  </span> -->
  