<form [formGroup]="defaultForm">
  <div class="flex justify-start my-4">
    <mat-form-field class="w-64 mr-4" appearance="outline">
      <mat-label>Emplacement</mat-label>
      <mat-select formControlName="_id">
        <mat-option [value]="1">Première place</mat-option>
        <mat-option [value]="2">Seconde place</mat-option>
        <mat-option [value]="3">Troisième place</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="defaultForm.controls._id.value" class="w-72 mr-4" appearance="outline">
      <mat-label>Titre (optionnel)</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>
  </div>

  <div *ngIf="defaultForm.controls._id.value" class="my-4">
    <file-selector [defaultFiles]="defaultImage" [maxCount]="1" (onFileChange)="setFiles($event)"></file-selector>
  </div>

  <div class="flex justify-between my-4">
    <button [disabled]="!defaultForm.valid || isButtonDisabled" type="button" mat-raised-button color="primary" (click)="sendForm()">Assigner</button>
  </div>
</form>
