:host {
  margin-bottom: 0 !important;
  max-width: unset!important;

  .mat-elevation-z4.preview {
    min-width: 15vw;
    max-width: 25vw;
    padding: .6rem .4rem;
    cursor: move;

    .mat-card-subtitle {
      max-width: 8rem !important;
      margin-bottom: 0 !important;
      margin-top: .5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }


  }

  .mat-elevation-z4.default {
    width: fit-content;
    height: 100px;
    margin-bottom: .6rem;
    border-radius: .4rem !important;

    .big-image {
      height: 100px !important;
      width: 100px !important;
      border-radius: .4rem !important;
    }
  }
}
