<div class="text-center mt-2">
  <h3 class="text-xl font-bold text-green-800 mb-3">Rechercher sur Acturoutes</h3>
</div>

<main
  class="max-w-screen-lg mx-auto grid grid-cols-1 md:grid-cols-5 grid-rows-auto md:grid-rows:1 md:px-0 md:gap-3 mt-6 items-start">
  <aside class="col-auto row-start-2 row-end-auto md:row-span-1">
    <app-traffic-image></app-traffic-image>
    <ng-adsense></ng-adsense>
  </aside>


  <section class="col-span-3 row-start:1 row-end-auto md:row-span-1 md:px-4 flex items-center justify-center">
    <div class="w-full flex flex-col justify-center items-center mx-auto px-2">
      <section class="min-h">
        <form [formGroup]="optionForm" class="max-w-screen-sm flex flex-col md:flex-row justify-center md:items-end mx-auto px-3">
          <div class="md:mr-2 mb-3">
            <input formControlName="title" class="placeholder-gray-500 text-green-600 bg-white rounded-md shadow focus:ring-green-800" type="text"
              placeholder="Recherche (5 characthères minimum)" minlength="5" required>
          </div>
        
          <div class="flex items-center mb-3">
            <label class="block mr-2">
              <select formControlName="type" 
                class="form-select block w-64 md:w-42 text-green-600 bg-white shadow focus:ring-green-800 border-0 rounded-md">
                <option value="">Tout</option>
                <option value="isHeadline">A la une</option>
                <option value="isAgenda">Agenda</option>
                <option value="isBigFormat">Grand Format</option>
                <option value="isEvent">Edition Spéciale</option>
              </select>
            </label>
            <div class="text-center">
              <button (click)="getData()" [disabled]="!optionForm.valid || isLoading" type="button" class="bg-green-800 text-white p-3 rounded shadow text-center">
                <i class="w-min" [ngClass]="{'gg-spinner-two-alt': isLoading, 'gg-search': !isLoading}"></i>
              </button>
            </div>
          </div>
        </form>
        
        <ng-container *ngIf="articles?.length > 0">
          <div class="max-w-screen-md flex justify-center items-center mx-auto pt-3 px-2">
            <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-2 gap-y-8 px-3 md:px-0 items-start">
              <a *ngFor="let article of articles" [routerLink]="['/articles', article.slug]"class="animated" animateOnScroll animationName="slide-top">
                <div class="rounded w-full flex flex-col">
                  <div class="aspect-w-4 aspect-h-3">
                    <img [src]="rootURL + article.main_image" class="object-cover" />
                  </div>
                  <div class="bg-white px-4 py-2">
                    <h6 *ngIf="article.subtitle" class="font-bold py-1 px-2 bg-red-500 text-white my-2 rounded">
                      {{ article.subtitle }}</h6>
                    <span class="text-green-800 font-bold">{{ article.title }}</span>
                    <p class="text-gray-800 mb-2 mt-1">
                      {{ article.description | truncateAfter:100 }}
                    </p>
                    <span class="block text-gray-500 text-sm text-right">Publié le: {{ article.createdAt | dateTrans:true }}</span>
                  </div>
                </div>
              </a>
            </section>
          </div>
        
          <app-pagination [activePage]="currentPage" [activePage]="currentPage" [totalPage]="totalPage" (onPageChange)="changePage($event)"></app-pagination>
        </ng-container>
        <p *ngIf="articles?.length === 0" class="text-2xl text-center text-red-500">Aucun élément trouvé.</p>
      </section>
    </div>
  </section>


  <aside class="col-auto row-start-3 row-end-auto md:row-span-1">
    <app-ads *ngIf="squareListOne.length > 0" [isSquare]="true" [imageUrl]="squareListOne"></app-ads>
    <app-big-format></app-big-format>
    <app-ads *ngIf="squareListTwo.length > 0" [isSquare]="true" [imageUrl]="squareListTwo"></app-ads>
    <app-last-road-witness></app-last-road-witness>
  </aside>
</main>

<app-footer></app-footer>