<section class="flex flex-col items-center justify-center">
  <intro-image class="mb-4"></intro-image>
  <div class="w-full mx-auto px-2 md:px-0">
    <div [class.hidden]="!currentArticle">
      <div class="aspect-w-2 aspect-h-1">
        <img [src]="rootURL + currentArticle?.image" class="rounded-md object-cover">
      </div>
      <div class="flex justify-between flex-wrap items-center mt-2">
        <article>
          <share-button button="facebook" [url]="shareURL + currentArticle?.slug"></share-button>
          <share-button button="linkedin" [url]="shareURL + currentArticle?.slug"></share-button>
          <share-button button="whatsapp" [url]="shareURL + currentArticle?.slug"></share-button>
          <share-button button="twitter" [url]="shareURL + currentArticle?.slug"></share-button>
        </article>
        <span class="block text-gray-500 text-sm">Publié le: {{ currentArticle?.createdAt | dateTrans:true }}</span>
      </div>
      <h1 class="text-gray-800 text-xl font-bold my-2 capitalize">
        {{ currentArticle?.title }}
      </h1>
      <div class="text-gray-700 mt-4 html-content ql-editor" [innerHtml]="currentArticle?.content | html">
      </div>
      <span *ngIf="currentArticle?.author_name" class="block text-gray-500 text-sm capitalize"><span
          class="underline">Posté par:</span> {{ currentArticle?.author_name }}</span>
      <div class="overflow-hidden flex justify-center">
        <ng-adsense [adFormat]="'mobile banner'" [display]="'block'"></ng-adsense>
      </div>
    </div>

    <ng-container *ngIf="noData">
      <h6 class="text-green-800 text-4xl font-bold mb-10 leading-tight">Cet élément n'existe pas ou a été supprimé
      </h6>
    </ng-container>

    <div class="text-left my-3">
      <a routerLink="/temoin-de-la-route/temoigner" class="bg-green-800 text-white px-3 py-1 rounded hover:shadow-lg">
        Faire un témoignage</a>
    </div>
  </div>
</section>