<h1 matTooltip="gérez les contenus rdc" class="max-w-max" matTooltipPosition="right" matTooltipShowDelay="1000">
    Gérez les contenus RDC</h1>
<nav mat-tab-nav-bar ngClass="tabs">
    <a mat-tab-link routerLink="/dashboard/rdc/article" routerLinkActive="" #rla="routerLinkActive"
        [active]="rla.isActive" color="primary">
        Articles
    </a>

    <!-- <a mat-tab-link routerLink="/dashboard/rdc/intro" routerLinkActive="" #rla2="routerLinkActive"
        [active]="rla2.isActive" color="primary">
        Intro
    </a> -->

    <a mat-tab-link routerLink="/dashboard/rdc/pubs" routerLinkActive="" #rla3="routerLinkActive" [active]="rla3.isActive"
        color="primary">
        Pubs
    </a>

    <a mat-tab-link routerLink="/dashboard/rdc/signal" routerLinkActive="" #rla4="routerLinkActive"
        [active]="rla4.isActive" color="primary">
        Signal
    </a>

    <a mat-tab-link routerLink="/dashboard/rdc/traffic" routerLinkActive="" #rla5="routerLinkActive"
        [active]="rla5.isActive" color="primary">
        Messages du Traffic
    </a>

    <a mat-tab-link routerLink="/dashboard/rdc/traffic-image" routerLinkActive="" #rla6="routerLinkActive"
        [active]="rla6.isActive" color="primary">
        Cartes du Traffic
    </a>
</nav>

<div class="margin-y">
    <router-outlet></router-outlet>
</div>