<form *ngIf="!isPasswordForm" [formGroup]="defaultForm">
  <div class="flex justify-start my-4">
    <mat-form-field class="w-64 mr-4" appearance="outline">
      <mat-label>Nom</mat-label>
      <input matInput formControlName="name" required />
    </mat-form-field>

    <mat-form-field class="w-64 mr-4" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" required />
    </mat-form-field>

    <mat-form-field class="w-64 mr-4" appearance="outline">
      <mat-label>Fonction et service</mat-label>
      <input matInput formControlName="position" required />
    </mat-form-field>

    <ng-container *ngIf="!currentData">
      <mat-form-field class="w-64 mr-4" appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input matInput formControlName="password" required />
      </mat-form-field>
    </ng-container>
  </div>

  <div class="flex justify-between items-start">
    <button (click)="sendForm()" [disabled]="!defaultForm.valid || isButtonDisabled" type="button" mat-raised-button
      color="primary">{{ currentData ? 'mettre à jour': 'créer' }}</button>

    <div *ngIf="currentData" class="flex flex-col">
      <div class="mb-2">
        <button (click)="switchForms()" type="button" mat-stroked-button class="button-warn">changer mot de
          passe</button>
      </div>
      <button [disabled]="isButtonDisabled" type="button" mat-stroked-button color="warn"
        (click)="onDelete(currentData._id)">Supprimer le compte</button>
    </div>
  </div>
</form>

<form *ngIf="isPasswordForm" [@slideFromRight] [formGroup]="passwordForm">
  <div class="flex justify-start my-4">
    <mat-form-field class="w-64 mr-4" appearance="outline">
      <mat-label>Nouveaux mot de passe</mat-label>
      <input matInput formControlName="password" required />
    </mat-form-field>
  </div>

  <div class="flex justify-between">
    <button (click)="updatePassword()" [disabled]="!passwordForm.valid || isButtonDisabled" type="button"
      mat-raised-button color="primary">mettre à jour</button>
    <button (click)="switchForms()" type="button" mat-raised-button class="button-warn">annuler</button>
  </div>
</form>
