<h1 matTooltip="gérez direct-traffic / images du traffic" class="max-w-max" matTooltipPosition="right"
  matTooltipShowDelay="1000">Gérez les éléments du traffic</h1>
<nav mat-tab-nav-bar ngClass="tabs">
  <a mat-tab-link routerLink="/dashboard/traffic/create" [active]="urlContains('/create')" color="primary"
    matTooltip="Créer un message direct-traffic" matTooltipPosition="above" matTooltipShowDelay="1500">
    Créer un message
  </a>
  <a mat-tab-link routerLink="/dashboard/traffic/list" [active]="urlContains('/list')" color="primary"
    matTooltip="affichez les message direct-traffic" matTooltipPosition="above" matTooltipShowDelay="1500">
    Liste des messages
  </a>
  <a mat-tab-link routerLink="/dashboard/traffic/images" [active]="urlContains('/images')" color="primary"
    matTooltip="assignez les message du traffic" matTooltipPosition="above" matTooltipShowDelay="1500">
    Cartes du traffic
  </a>
</nav>

<div class="margin-y">
  <app-create-traffic *ngIf="urlContains('/create')"></app-create-traffic>
  <app-list-traffic *ngIf="urlContains('/list')"></app-list-traffic>
  <app-traffic-image *ngIf="urlContains('/images')"></app-traffic-image>
</div>
