<main class="max-w-screen-lg mx-auto grid grid-cols-1 md:grid-cols-5 grid-rows-auto md:grid-rows:1 md:gap-3 mt-6 items-start">
  <aside class="col-auto row-start-2 row-end-auto md:row-span-1">
    <app-traffic-image></app-traffic-image>
    <ng-adsense [display]="'block'"></ng-adsense>
  </aside>


  <section class="col-span-3 row-start:1 row-end-auto md:row-span-1 md:px-4 flex items-center justify-center">
    <div class="max-w-screen-md mx-auto">
        <app-headline></app-headline>
        <app-ads *ngIf="rectangleListOne.length > 0" [imageUrl]="rectangleListOne"></app-ads>
        <app-actu-tv></app-actu-tv>
        <app-ads *ngIf="rectangleListTwo.length > 0" [imageUrl]="rectangleListTwo"></app-ads>
    </div>
  </section>


  <aside class="col-auto row-start-3 row-end-auto md:row-span-1">
    <app-ads *ngIf="squareListOne.length > 0" [isSquare]="true" [imageUrl]="squareListOne"></app-ads>
    <app-big-format></app-big-format>
    <app-ads *ngIf="squareListTwo.length > 0" [isSquare]="true" [imageUrl]="squareListTwo"></app-ads>
    <app-last-road-witness></app-last-road-witness>
  </aside>
</main>


<!-- footer -->
<app-footer></app-footer>
