<div class="login-wrapper flex justify-center items-center">
  <div class="w-full lg:w-4/12 px-4 my-4">
    <div class="flex flex-col shadow-lg rounded-lg">
      <div class="px-6 py-6">
        <div class="text-center mb-3">
          <h5 class="text-gray-500 text-lg font-bold">Connectez-vous</h5>
        </div>
        <hr class="mt-6 border-b-1 border-gray-300">
      </div>
      <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
        <form [formGroup]="loginForm">
          <div class="mb-3">
            <input class="p-3 placeholder-gray-500 text-green-800 bg-white rounded shadow focus:ring-green-800"
              placeholder="Email" type="email" formControlName="email" required>
          </div>
          <div class="mb-6">
            <input class="p-3 placeholder-gray-500 text-green-600 bg-white rounded shadow focus:ring-green-800"
              type="password" placeholder="Mot de passe" formControlName="password" required>
          </div>
          <div class="text-center"><button type="button"
              class="bg-green-800 text-white active:bg-gray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg w-full"
              [disabled]="!loginForm.valid || isButtonDisabled" (click)="login()">
              <span class="flex justify-center">Connexion <i *ngIf="isButtonDisabled" class="ml-2 w-min gg-spinner-two-alt"></i></span></button></div>
        </form>
        <!-- <div class="text-center my-3">
          <a class="text-gray-800 font-bold" [routerLink]="['/auth/register']">Ou Créer un
            compte</a></div>
        <div class="text-center mb-3">
          <a class="text-green-800 font-semibold" [routerLink]="['/auth/reset-password']">J'ai oublié mon
            mot de passe</a>
        </div> -->
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
