<form [formGroup]="defaultForm">

  <div class="flex justify-start my-4">
    <mat-form-field class="w-64 mr-4" appearance="outline">
      <mat-label>Nom du canal</mat-label>
      <input matInput formControlName="name" required />
    </mat-form-field>

    <mat-form-field class="w-64" appearance="outline">
      <mat-label>Participants</mat-label>
      <mat-select formControlName="admin" multiple>
        <mat-option *ngFor="let admin of adminList$ | async" [value]="admin._id">{{ admin.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="flex justify-between">
    <button (click)="sendForm()" [disabled]="!this.defaultForm.valid || isButtonDisabled" type="button" mat-raised-button color="primary">{{ currentData ? 'mettre à jour': 'créer' }}</button>
    <button *ngIf="currentData" [disabled]="isButtonDisabled" type="button" mat-stroked-button color="warn"
      (click)="onDelete(currentData._id)">Supprimer</button>
  </div>
</form>
