<div *ngIf="actuTv" class="bg-gray-200 rounded my-3 animated" animateOnScroll animationName="slide-top">
  <img [src]="actuTv.image ? rootURL + actuTv.image : 'assets/images/acturoutes-tv.png'" class="w-full rounded-t"
    alt="acturoute youtube">
  <div class="w-full aspect-w-16 aspect-h-9 mt-0 mb-4">
    <iframe [src]="actuTv.link || 'https://www.youtube.com/embed/mceiZMWEAYY' | iframe" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
  <div class="my-2 p-2">
    <h6 class="text-red-500 text-xl font-bold mb-2 bg-white rounded">
      {{ actuTv.title }}
    </h6>
    <p class="text-gray-800 text-lg mb-4">
      {{ actuTv.description }}
    </p>
    <div class="flex justify-between items-end lg:items-start">
      <a href="https://www.youtube.com/channel/UC2nWzypucou1MxKwx82cV_w" rel="nofollow noopener noreferrer" target="_blank"
      class="text-green-900 font-bold hover:underline mt-2">
      Toutes les vidéos Acturoutes TV</a>
      <img src="assets/images/logo_acturoutes_tv.jpg" alt="logo_acturoutes" class="w-3/12 lg:w-2/12 object-contain">
    </div>
  </div>
</div>
