<h1 class="max-w-max">Gérez les éléments du signal</h1>
<nav mat-tab-nav-bar ngClass="tabs">
  <a mat-tab-link routerLink="/dashboard/signal/create" [active]="urlContains('/create')" color="primary"
    matTooltip="Créer un message pour le signal" matTooltipPosition="above" matTooltipShowDelay="1500">
    Créer un message
  </a>
  <a mat-tab-link routerLink="/dashboard/signal/list" [active]="urlContains('/list')" color="primary"
    matTooltip="affichez les message du signal" matTooltipPosition="above" matTooltipShowDelay="1500">
    Liste des messages
  </a>
</nav>

<div class="margin-y">
  <app-create-signal *ngIf="urlContains('/create')"></app-create-signal>
  <app-list-signal *ngIf="urlContains('/list')"></app-list-signal>
</div>
