html,
body {
  height: 100%;
  background-color: #fafafa;
}

body {
  margin: 0;
  font-family: Poppins, "Helvetica Neue", sans-serif;
}

a, .nb-theme-corporate a {
  text-decoration: none;
  color: $primary;
}

* {
  box-sizing: border-box;
}

// Scrollbar
::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  background-color: rgb(245, 245, 245);
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 20px;
  border: 2px solid transparent;
  background-clip: content-box;
  &:hover {
    background-color: $primary;
  }
}

input, select, textarea {
  border-width: 0px;
}

