$primary: #329a71;
$primary_shade: #329a7036;
$success: #00d68f;
$warning: #ffaa00;
$warning_shade: #ffaa0025;
$danger: #ff3d71;
$dark: #222428;
$medium: #92949c;
$medium_shade: #92949c2a;
$light: #f4f5f8;

$popup_success: #00d68fec;
$popup_warning: #ffaa00ec;
$popup_danger: #ff3d71ec;

$primary-palette: (
    50 : #e6f3ee,
    100 : #c2e1d4,
    200 : #99cdb8,
    300 : #70b89c,
    400 : #51a986,
    500 : #329a71,
    600 : #2d9269,
    700 : #26885e,
    800 : #1f7e54,
    900 : #136c42,
    A100 : #a3ffd0,
    A200 : #70ffb6,
    A400 : #3dff9c,
    A700 : #24ff8f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
