app-layout {
  display: flex;
  flex-direction: column;

  nb-layout-column,
  nb-layout {
    padding: 0 !important;
    max-width: 100vw;
    background-color: $light;
  }

  nb-layout-column {
    padding: 1rem !important;
  }

  mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white!important;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 0 0.7rem 0 $primary_shade !important;

    span {
      vertical-align: middle;
    }
  }

  mat-list-item {
    transition: .5s ease-out;
    cursor: pointer;

    &.active {
      background-color: $primary_shade;
      color: $primary !important;
      border-radius: 0 10rem 10rem 0;
    }

    &:hover:not(.active) {
      background-color: $medium_shade;
      border-radius: 0 10rem 10rem 0;
    }
  }

  mat-sidenav-content {
    padding: 1.5rem 1rem !important;
    overflow: scroll;
    @media (min-width: 768px) {
      padding: 1.5rem 2rem !important;
    }
  }

  .logo {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: contain;
    vertical-align: middle;
    margin-right: .4rem;
  }
}
