.max-w-screen-lg {
  max-width: 1200px;
}

.ng-dirty.ng-invalid:not(form) {
  @apply ring-red-600;
}

.ng-dirty.ng-valid:not(form) {
  @apply ring-green-800;
}

button:disabled {
  opacity: .6;
}

.html-content {
  img {
    max-width: 60%;
    margin: 0 auto;
  }

  h1 {
    font-weight: 800;
    font-size: 2.25em;
  }

  h2 {
    font-weight: 700;
    font-size: 1.5em;
  }

  h3 {
    font-weight: 600;
    font-size: 1.25em;
  }

  p {
    line-height: 165%;
  }
}

ins.adsbygoogle[data-ad-status="unfilled"],
ins.adsbygoogle.adsbygoogle-noablate {
  display: none !important;
}

.animated {
  @media (max-width: 767px) {opacity: 0;}
}

input::-webkit-file-upload-button {
  @apply text-green-800 rounded shadow px-3 py-2 outline-none border-0 cursor-pointer;
  background-color: #edf2f7;
}

input[type="file"] {
  padding-left: 0;
}

.ql-container {
  background-color: #edf2f7!important;
  @apply rounded-b shadow-sm;
}

.html-content.ql-editor {
  padding: 0;
}

.ql-toolbar {
  background-color: #edf2f7!important;
  @apply rounded-t;
}