<h1 matTooltip="gérez les contenus du site" class="max-w-max" matTooltipPosition="right" matTooltipShowDelay="1000">
  Gérez les articles</h1>
<nav mat-tab-nav-bar ngClass="tabs">
  <a mat-tab-link routerLink="/dashboard/publications/article" [active]="urlContains('/article')" color="primary">
    Articles
  </a>
  <a mat-tab-link routerLink="/dashboard/publications/headline" [active]="urlContains('/headline')" color="primary">
    Assigner 'à la une'
  </a>
  <a mat-tab-link routerLink="/dashboard/publications/big-format" [active]="urlContains('/big-format')" color="primary">
    Assigner 'Grand format'
  </a>
  <a mat-tab-link routerLink="/dashboard/publications/road-witness" [active]="urlContains('/road-witness')"
    color="primary">
    Témoin de la route
  </a>
</nav>

<div class="margin-y">
  <app-list-article *ngIf="urlContains('/article')"></app-list-article>
  <app-headline *ngIf="urlContains('/headline')"></app-headline>
  <app-big-format *ngIf="urlContains('/big-format')"></app-big-format>
  <app-list-road-witness *ngIf="urlContains('/road-witness')"></app-list-road-witness>
</div>