<ng-container *ngIf="articles">
  <intro-image></intro-image>
  <main class="flex flex-wrap md:flex-no-wrap space-x-0 md:space-x-6 mb-2">
    <div class="mb-4 lg:mb-0 p-4 md:p-0 w-full md:w-4/7 relative rounded block">
      <a [routerLink]="['/articles', firstArticle.slug]" class="block relative aspect-w-2 aspect-h-1">
        <img [src]="rootURL + firstArticle.main_image" class="rounded-md object-cover w-full">
        <div class="content">
          <h6 *ngIf="firstArticle.subtitle" class="font-bold bg-red-500 py-1 px-2 text-xl text-white mb-2 rounded">
            {{ firstArticle.subtitle }}</h6>
          <p class="block font-semibold text-2xl bg-green-800 text-white">
            {{ firstArticle.title }}
          </p>
        </div>
      </a>
      <h6 *ngIf="firstArticle.subtitle" class="md:hidden font-bold py-1 px-2 bg-red-500 text-white my-2 rounded">{{ firstArticle.subtitle }}</h6>
      <h1 class="md:hidden text-gray-800 text-4xl font-bold mb-2 leading-tight">
        {{ firstArticle.title }}
      </h1>
      <span class="block text-gray-500 text-sm mt-1">Publié le: {{ firstArticle.createdAt | dateTrans }}</span>
      <p class="text-gray-600 mb-4">
        {{ firstArticle.description | truncateAfter:140 }} <a  [routerLink]="['/articles', firstArticle.slug]"
          class="inline-block mt-2 md:pl-2 rounded font-semibold text-green-900 hover:underline"> Voir l'article </a>
      </p>
    </div>
  </main>

  <!-- secondary post -->
  <div class="grid grid-cols-1 md:grid-cols-2 grid-gap-2 px-4 md:px-0 items-start">
    <a [routerLink]="['/articles', secondArticle.slug]" class="block px-1">
      <div class="block relative aspect-w-3 aspect-h-2">
        <img [src]="rootURL + secondArticle.main_image" class="rounded" alt="technology" />
        <div *ngIf="secondArticle.subtitle" class="content">
          <h6 class="font-bold py-1 px-2 bg-red-500 text-white mb-2 rounded">{{ secondArticle.subtitle }}</h6>
        </div>
      </div>
      <div class="p-4 pl-0">
        <h6 *ngIf="secondArticle.subtitle" class="md:hidden font-bold py-1 px-2 bg-red-500 text-white mb-2 rounded">
          {{ secondArticle.subtitle }}</h6>
        <h2 class="font-bold text-xl text-gray-800">{{ secondArticle.title }}</h2>
        <p class="text-gray-700 mt-2">
          {{ secondArticle.description | truncateAfter:100 }}
        </p>
        <span class="block text-gray-500 text-sm mt-2">Publié le: {{ secondArticle.createdAt | dateTrans:true }}</span>
        <a  [routerLink]="['/articles', secondArticle.slug]"class="inline-block py-2 rounded text-green-900 font-semibold hover:underline mt-2 ml-auto">
          Voir l'article </a>
      </div>
    </a>

    <a [routerLink]="['/articles', thirdArticle.slug]" class="block px-1">
      <div class="block relative aspect-w-3 aspect-h-2">
        <img [src]="rootURL + thirdArticle.main_image" class="rounded" alt="technology" />
        <div *ngIf="thirdArticle.subtitle" class="content">
          <h6 class="font-bold py-1 px-2 bg-red-500 text-white mb-2 rounded">{{ thirdArticle.subtitle }}</h6>
        </div>
      </div>
      <div class="p-4 pl-0">
        <h6 *ngIf="thirdArticle.subtitle" class="md:hidden font-bold py-1 px-2 bg-red-500 text-white mb-2 rounded">
          {{ thirdArticle.subtitle }}</h6>
        <h2 class="font-bold text-xl text-gray-800">{{ thirdArticle.title }}</h2>
        <p class="text-gray-700 mt-2">
          {{ thirdArticle.description | truncateAfter:100 }}
        </p>
        <span class="block text-gray-500 text-sm mt-2">Publié le: {{ thirdArticle.createdAt | dateTrans:true }}</span>
        <a [routerLink]="['/articles', thirdArticle.slug]"
          class="inline-block py-2 rounded text-green-900 font-semibold hover:underline mt-2 ml-auto">
          Voir l'article </a>
      </div>
    </a>
  </div>
</ng-container>
