<div class="mb-4">
    <button mat-raised-button color="primary" (click)="create()">Mettre à jour la section d'intro</button>
</div>

<mat-accordion *ngIf="oldItem$ | async as Intro">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Page d'intro Actuelle
            </mat-panel-title>
            <mat-panel-description>
                Voir le contenu actuellment affiché
            </mat-panel-description>
        </mat-expansion-panel-header>

        <section class="flex flex-col gap-y-2 justify-start mb-4">
            <p>{{ Intro.link }}</p>
            <img mat-card-avatar [src]="Intro.image">
        </section>

        <section class="w-full">
            <div class="flex justify-start mb-4">
                <mat-checkbox matInput [checked]="Intro.enabled" (change)="update(Intro, $event)" color="primary">
                    Activer/Désactiver
                </mat-checkbox>
            </div>
        </section>
    </mat-expansion-panel>
</mat-accordion>

<ng-template #form>
    <form [formGroup]="defaultForm">
        <div class="flex justify-start mb-4">
            <mat-form-field class="w-64" appearance="outline">
                <mat-label>Lien externe</mat-label>
                <input matInput formControlName="link" />
            </mat-form-field>
        </div>

        <div class="flex justify-start mb-4">
            <mat-checkbox matInput formControlName="enabled" color="primary">
                Activer/Désactiver
            </mat-checkbox>
        </div>

        <div class="w-full mb-4">
            <file-selector [defaultFiles]="defaultImage" [maxCount]="1"
                [accept]="'image/jpeg,image/jpg,image/png,image/gif'" (onFileChange)="setFiles($event)"></file-selector>
        </div>

        <div class="flex justify-between">
            <button (click)="sendForm()" [disabled]="!defaultForm.valid || isButtonDisabled" type="button"
                mat-raised-button color="primary">valider</button>
        </div>
    </form>
</ng-template>