#logo {
  background: url("/assets/images/logo_acturoutes_alt.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.header {
  @apply grid grid-cols-10 justify-center items-center p-4 md:p-3;
  width: 100%;

  &__left {
    @apply col-start-1 col-span-2;
  }

  &__center {
    @apply col-start-4 col-span-4 md:col-start-3 md:col-span-6 flex justify-center items-center;
  }

  &__right {
    @apply col-start-9 col-span-2;
  }
}

.side-items {
  @apply hidden md:flex flex-col items-center justify-center text-sm text-gray-500;

  a {
    @apply hover:text-green-600;
  }

  &__link--active {
    @apply text-green-800 font-bold;
  }
}

.menu-m {
  @apply md:hidden px-4 grid grid-cols-2 gap-1 gap-y-5 pb-4 my-4 text-lg text-center shadow-sm md:font-semibold;

  &__link {
    @apply flex justify-center items-center rounded px-0 py-2 text-gray-500 hover:text-green-600;
    line-height: 100%;
  }

  &__link--active {
    @apply text-green-800 bg-green-200 font-semibold;
  }

  &__logout {
    @apply block rounded p-3 mb-2 text-red-400 hover:text-green-600;
  }
}

.menu {
  @apply inline-flex items-center md:pt-2 font-extralight text-xl text-gray-700;
  &__link {
    @apply px-2 md:px-4;
  }
  &__link__text {
    @apply hover:text-green-600 transition-colors;
  }

  &__link__text--active {
    @apply text-green-800 font-semibold underline;
  }

  &__link__text--red {
    @apply text-red-400 hover:text-red-600 cursor-pointer;
  }
}
