<header #header class="header" [ngClass]="{'shadow-sm md:shadow-none': !scrollTopReached}">
  <app-weather class="header__left"></app-weather>
  <div class="header__center">
    <ul class="side-items">
      <li class="menu__link">
        <a [href]="ramLink" target="_blank"> Les RAMes </a>
      </li>
      <li class="menu__link">
        <a [href]="arbLink" target="_blank"> ARB - Trophée Babacar NDIAYE </a>
      </li>
      <li class="menu__link">
        <a [routerLink]="['/acturoutes-rdc']" routerLinkActive="side-items__link--active"> Acturoutes RDC </a>
      </li>
    </ul>
    <a [routerLink]="['/accueil']" class="ml-auto md:ml-0">
      <img src="assets/images/logo_acturoutes_alt.jpg" alt="logo_acturoutes" class="h-12 md:h-20 lg:h-24">
    </a>
    <ul class="side-items">
      <li><a [routerLink]="['/news']" routerLinkActive="side-items__link--active">News (English Version)</a></li>
      <li><a [routerLink]="['/temoin-de-la-route']" routerLinkActive="side-items__link--active">Témoin de la route</a></li>
      <li><a [href]="imageBankLink" target="_blank">Image Bank</a></li>
    </ul>
  </div>
  <div class="header__right">
    <i class="gg-menu-right-alt justify-self-end ml-auto md:hidden" (click)="swithMenu()"></i>
  </div>
</header>
<!-- Nav Links -->
<nav class="hidden md:flex flex-col items-center justify-center py-2">
  <div class="overflow-hidden flex justify-center mb-1" *ngIf="showAd">
    <ng-adsense [adFormat]="'banner'" [display]="'block'" [width]="728" [height]="90"></ng-adsense>
  </div>
  <hr class="w-4/5">
  <ul class="menu ">
    <li class="menu__link">
      <a [routerLink]="['/accueil']" routerLinkActive="text-green-800 underline" class="text-gray-500 font-bold menu__link__text"> Accueil </a>
    </li>
    <li class="menu__link">
      <a [routerLink]="['/direct-trafic']" routerLinkActive="menu__link__text--active" class="menu__link__text"> Direct Trafic </a>
    </li>
    <li class="menu__link">
      <a [routerLink]="['/articles']" routerLinkActive="menu__link__text--active"  class="menu__link__text"> Actualités </a>
    </li>
    <li class="menu__link">
      <a [routerLink]="['/edition-speciale']" routerLinkActive="menu__link__text--active" class="menu__link__text"> Edition Spéciale </a>
    </li>
    <li class="menu__link">
      <a [routerLink]="['/agenda']" routerLinkActive="menu__link__text--active" class="menu__link__text"> Agenda </a>
    </li>
    <li class="menu__link">
      <a [routerLink]="['/recherche']" routerLinkActive="menu__link__text--active" class="menu__link__text flex items-center"> <span class="mr-3">Recherche</span>  <i class="gg-search m-0"></i></a>
    </li>
    <li *ngIf="userConnected" class="menu__link">
      <a (click)="logout()" class="menu__link__text--red" rel="nofollow">Déconnection</a>
    </li>
  </ul>
</nav>

<!-- Mobile menu -->
<nav @slideDownUp *ngIf="menuOpen"class="menu-m" >
    <a (click)="swithMenu()" [routerLink]="['/accueil']" routerLinkActive="menu-m__link--active" class="menu-m__link"> Accueil </a>
    <a (click)="swithMenu()" [routerLink]="['/direct-trafic']" routerLinkActive="menu-m__link--active" class="menu-m__link"> Direct Trafic </a>
    <a (click)="swithMenu()" [routerLink]="['/articles']" routerLinkActive="menu-m__link--active"  class="menu-m__link"> Actualités </a>
    <a (click)="swithMenu()" [routerLink]="['/news']" routerLinkActive="menu-m__link--active"  class="menu-m__link"> News (English Version) </a>
    <a (click)="swithMenu()" [href]="ramLink" target="_blank" class="menu-m__link"> Les RAMes </a>
    <a (click)="swithMenu()" [href]="arbLink" target="_blank" class="menu-m__link"> ARB - Trophée Babacar NDIAYE </a>
    <a (click)="swithMenu()" [routerLink]="['/acturoutes-rdc']" routerLinkActive="menu-m__link--active"  class="menu-m__link"> Acturoutes RDC </a>
    <a (click)="swithMenu()" [routerLink]="['/edition-speciale']" routerLinkActive="menu-m__link--active" class="menu-m__link"> Edition Spéciale </a>
    <a (click)="swithMenu()" [routerLink]="['/agenda']" routerLinkActive="menu-m__link--active" class="menu-m__link"> Agenda </a>
    <a (click)="swithMenu()" [routerLink]="['/temoin-de-la-route']" routerLinkActive="menu-m__link--active" class="menu-m__link"> Témoin de la route </a>
    <a (click)="swithMenu()" [href]="imageBankLink" target="_blank" class="menu-m__link"> Image Bank </a>
    <a (click)="swithMenu()" [routerLink]="['/recherche']" routerLinkActive="menu-m__link--active" class="menu-m__link"> <span class="mr-3">Recherche</span>  <i class="gg-search m-0"></i> </a>
    <a *ngIf="userConnected" (click)="logout()" class="menu-m__logout" rel="nofollow"> Se déconnecter </a>
</nav>
