<h1 matTooltip="modifiez les éléments à afficher dans acturoutes-tv" class="max-w-max" matTooltipPosition="right">
  Acturoutes TV</h1>
<div *ngIf="!isLoading" class="grid grid-cols-5">
  <form [formGroup]="defaultForm" class="col-span-3">

    <div class="flex justify-start my-4">
      <mat-form-field class="w-64 mr-4" appearance="outline">
        <mat-label>Lien vidéo</mat-label>
        <input matInput formControlName="link" />
        <mat-error *ngIf="defaultForm.controls.link.hasError('pattern')">Lien invalide.<br>Exemple de lien valide: https://www.youtube.com/embed/mceiZMWEAYY</mat-error>
      </mat-form-field>

      <mat-form-field class="w-64 mr-4" appearance="outline">
        <mat-label>Titre à afficher</mat-label>
        <input matInput formControlName="title" />
      </mat-form-field>

    </div>
    <div class="flex justify-start my-4">
      <mat-form-field class="w-96 mr-4" appearance="outline">
        <mat-label>description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
    </div>

    <div class="full-width margin-y">
      <file-selector [defaultFiles]="defaultImage" [maxCount]="1" (onFileChange)="setFiles($event)"></file-selector>
    </div>

    <div class="flex justify-start">
      <button type="button" mat-raised-button color="primary" (click)="sendForm()" [disabled]="!defaultForm.valid || isButtonDisabled">mettre à
        jour</button>
    </div>
  </form>
  <!-- <div class="text-xl p-3">
      <p>Lien actuel: <span class="text-green-500"> {{ currentData?.link }}</span></p>
      <p>Titre actuel: <span class="text-green-500">{{ currentData?.title }}</span></p>
      <p class="mt-4">Description actuelle: <span class="text-green-500">{{ currentData?.description }}</span></p>
  </div> -->
</div>

<div *ngIf="isLoading" class="p-5">
  <app-loader></app-loader>
</div>