<main
  class="max-w-screen-lg mx-auto grid grid-cols-1 md:grid-cols-5 grid-rows-auto md:grid-rows:1 md:px-0 md:gap-3 mt-6 items-start">
  <aside class="col-auto row-start-2 row-end-auto md:row-span-1">
    <app-traffic-image></app-traffic-image>
    <ng-adsense></ng-adsense>
  </aside>


  <section class="col-span-3 row-start:1 row-end-auto md:row-span-1 md:px-4 flex items-center justify-center">
    <div class="w-full flex flex-col justify-center items-center mx-auto px-2">
      <intro-image class="mb-4"></intro-image>
      <p *ngIf="isLoading" class="text-green-500 flex justify-center w-full"><i class="gg-spinner-two-alt"></i></p>
      <section *ngIf="articles" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-2 gap-y-8 px-3 md:px-0 items-start">
        <a *ngFor="let article of articles" [routerLink]="['./', article.slug]" class="animated" animateOnScroll animationName="slide-top">
          <div class="rounded w-full flex flex-col">
            <div class="aspect-w-4 aspect-h-3">
              <img [src]="rootURL + article.main_image" class="object-cover" />
            </div>
            <div class="bg-white px-4 py-2">
              <h6 *ngIf="article.subtitle" class="font-bold py-1 px-2 bg-red-500 text-white my-2 rounded">
                {{ article.subtitle }}</h6>
              <span class="text-green-800 font-bold"> {{ article.title }} </span>
              <p class="text-gray-800 mb-2 mt-1">
                {{ article.description | truncateAfter:100 }}
              </p>
              <span class="block text-gray-500 text-sm text-right">Published on: {{ article.createdAt | dateTrans:true }}</span>
            </div>
          </div>
        </a>
      </section>

      <app-pagination *ngIf="articles?.length > 0" [activePage]="currentPage" [totalPage]="totalPage"
        (onPageChange)="changePage($event)"></app-pagination>
      <p *ngIf="articles?.length === 0" class="text-2xl text-center text-red-500">No news for the moment.</p>
    </div>
  </section>


  <aside class="col-auto row-start-3 row-end-auto md:row-span-1">
    <app-ads *ngIf="squareListOne.length > 0" [isSquare]="true" [imageUrl]="squareListOne"></app-ads>
    <app-big-format></app-big-format>
    <app-ads *ngIf="squareListTwo.length > 0" [isSquare]="true" [imageUrl]="squareListTwo"></app-ads>
    <app-last-road-witness></app-last-road-witness>
  </aside>
</main>


<app-footer></app-footer>